[build]
  base = ""
  publish = "build"
  command = "npm run build"
  environment = { NODE_VERSION = "16" }

[[redirects]]
  from = "https://jimniels-blog.netlify.com/*"
  to = "https://blog.jim-nielsen.com/:splat"
  status = 301
  force = true
