/*===========================================================================
   General

   @color-text: #333
   @color-text-light: #777
   @color-text-lightest: #999
   @color-background: #333
   @color-yellow: #fffddf
   @padding-left: 10%
   @color-highlight: #FF0000;
   @color-link: $color-twitter-blue;
   =========================================================================== */

:root {
  /* 
     Currently using accessible+vibrant
     https://developer.apple.com/design/human-interface-guidelines/macos/visual-design/color/
     @TODO consider vars for these, i.e.

     --system-blue;
     --system-blue-a11y;
   */

  /* default 
   --color-link: rgb(0, 122, 255);
   --color-link-visited: rgb(175, 82, 222);
   --color-link-active: rgb(255, 59, 48); */

  /* accessible */
  --color-blue: rgb(0, 64, 221);
  --color-link: var(--color-blue);
  --color-purple: rgb(137, 68, 171);
  --color-link-visited: var(--color-purple);
  --color-red: rgb(255, 0, 0); /* rgb(194, 6, 24);  rgb(215, 0, 21) */
  --color-link-active: var(--color-link);
  --color-indigo: rgb(54, 52, 163);

  --color-gray: rgb(108, 108, 112);
  --color-gray-2: rgb(142, 142, 147);
  --color-gray-3: rgb(174, 174, 178);
  --color-gray-4: rgb(188, 188, 192);
  --color-gray-5: rgb(216, 216, 220);
  --color-gray-6: rgb(236, 235, 240);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* default 
     --color-link: rgb(10, 132, 255);
     --color-link-visited: rgb(191, 90, 242);
     --color-link-active: rgb(255, 69, 58); */

    /* accessible */
    --color-blue: rgb(64, 156, 255);
    --color-purple: rgb(218, 143, 255);
    --color-red: rgb(255, 65, 54);
    --color-indigo: rgb(125, 122, 255);

    --color-gray: rgb(174, 174, 178);
    --color-gray-2: rgb(124, 124, 128);
    --color-gray-3: rgb(84, 84, 86);
    --color-gray-4: rgb(68, 68, 70);
    --color-gray-5: rgb(54, 54, 56);
    --color-gray-6: rgb(36, 36, 38);
  }
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
  font-size: 19px;
  line-height: 1.618;
  /* this comes in normalize
  font-family: 
    ui-sans-serif, 
    system-ui, 
    -system-ui, 
    -apple-system,
    BlinkMacSystemFont,
    Roboto, Helvetica, Arial, 
    sans-serif, 
    "Apple Color Emoji"; */
  /*
  background: var(--color-bg);
  color: var(--color-text); */
}

@media screen and (min-width: 700px) {
  html {
    font-size: 22px; /* 24 originally */
  }
}

/* Firefox doesn't support this natively */
@supports not (color-scheme: light dark) {
  html {
    background: #fff;
    color: #000;
  }
  @media screen and (prefers-color-scheme: dark) {
    html {
      background: #000;
      color: #fff;
    }
  }
}

/* ==========================================================================
   Links
   ========================================================================== */

a {
  text-decoration: none;
  /* only cancel underlines on list items? */
}

a {
  color: var(--color-blue);
  position: relative;
}
a:active {
  top: 1px;
}
/*
a:link {
  color: var(--color-blue);
}

a:visited {
  color: var(--color-purple);
}

a:active {
  color: var(--color-red);
}*/

a:hover {
  text-decoration: underline;
  filter: brightness(70%);
}

a.a--no-hover:hover {
  filter: none;
}

.markdown a {
  text-decoration: underline;
}

/* ==========================================================================
   Images & Video
   ========================================================================== */

img,
video {
  max-width: 100%;
  height: auto;
}

/* ==========================================================================
   Typography
   ========================================================================== */

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  margin-top: 1em;
  margin-bottom: 0.66666666em;
}

h1 {
  font-size: 2.5rem; /* 60px */
  font-weight: 700;
}

h2 {
  font-size: 2rem; /* 48px */
  font-weight: 600;
}

h3 {
  font-size: 1.5rem; /* 36px */
  font-weight: 500;
}

h4 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  font-weight: 700;
}

code,
pre {
  font-family: ui-monospace, monospace;
}

.copy > * {
  max-width: 37rem; /* 900px */
  margin-top: 0;
  margin-bottom: 1.618rem;
}

.copy--full-width {
  max-width: none;
}

.list-reset {
  padding-left: 0;
  list-style-type: none;
}
