:root {
  --color-text: #212121;
  --color-text-light: #888888;
  --color-bg: #fff;
  --color-bg-sidebar: rgba(0, 0, 0, 0.05);
  --color-border: rgba(0, 0, 0, 0.1);
  --border-radius: 7px;
}

body {
  margin: 1.618rem calc(1.618 * 2rem);
}

@media screen and (max-width: 650px) {
  body {
    margin: calc(1.618rem / 2);
  }
}

/* =============================================================================
   Site Navigation
   ========================================================================== */

.nav {
  display: flex;
  align-items: center;
  margin-bottom: calc(1.618rem * 1);
  flex-wrap: wrap;
  /* font-size: 0.75rem; */
}

.nav__site-name {
  display: flex;
  align-items: center;
  /* font-size: 0.85rem; */
  margin-right: 1.618rem;
}

a.nav__site-name:before {
  content: "â†";
  margin-right: 0.5em;
  font-size: 1.2em;
  top: 0;
}
@media screen and (min-width: 650px) {
  .nav__site-name {
    position: relative;
  }
  a.nav__site-name:before {
    position: absolute;
    left: -1.5em;
    top: -0.125em;
  }
}
/* .nav svg:hover {
  position: relative;
  top: -1px;
} */
.nav svg:hover path {
  stroke-dasharray: 160;
  animation: dash 6s linear infinite;
  animation-direction: alternate;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

.nav__links {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: flex;
  /* font-size: 0.75em; */
}

.nav__links li {
  margin-right: calc(1.618rem / 2);
}

.markdown time {
  color: var(--color-text-light);
  display: block;
  margin: -1.618rem 0 1.618rem;
}

.markdown > *:not(table):not(pre) {
  max-width: 32rem;
  display: block;
}
.markdown > h1 {
  max-width: 40rem !important;
}
.markdown .image-container {
  max-width: none;
}
.markdown .image-container span {
  font-size: 0.75rem;
  font-style: italic;
  opacity: 0.5;
  max-width: 32rem;
  display: block;
}

blockquote {
  border-left: 1px solid var(--color-text);
  padding-left: 1em;
  margin-left: 0;
  font-style: italic;
}

blockquote em,
blockquote code {
  font-style: normal;
}

pre {
  max-width: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  margin-top: 1.618rem;
  margin-bottom: 1.618rem;
}

hr {
  border: 0;
  border-bottom: 1px solid transparent;
  margin: 0 0 1.618rem 0;
  width: 25%;
  background: var(--color-text);
}

/* Tables */
table {
  max-width: none;
  display: block;
  overflow: auto;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.85em;
}

table th {
  text-align: left;
}

table tbody tr:nth-child(2n + 1) {
  background-color: var(--color-bg-sidebar);
}

table th,
table td {
  padding: 0.325em 1em;
}

/**
 * Posts Lists - @TODO consider changing to something representing that it's 
 * a flat key/val list
 */
.posts-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.posts-list li {
  margin-bottom: calc(1.618rem / 2);
}

.posts-list time {
  display: block;
  font-family: ui-monospace, monospace;
  font-size: 0.7rem;
  opacity: 0.5; /* @TODO change to gray */
  margin-right: calc(1.618rem / 2);
  white-space: nowrap;
}

@media screen and (min-width: 520px) {
  .posts-list li {
    margin-bottom: calc(1.618rem / 4);
    display: flex;
    align-items: baseline;
  }
  .posts-list li a {
    order: 2;
  }
  .posts-list time {
    order: 1;
  }
}

/* Additions
   ========================================================================== */
