body {
  margin: 1.618rem calc(1.618 * 2rem) calc(1.618rem * 3);
}

@media screen and (max-width: 650px) {
  body {
    margin: calc(1.618rem / 2);
    margin-bottom: calc(1.618rem * 3);
  }
}

/* =============================================================================
   Primary Site Navigation
   ========================================================================== */

.site-nav {
  margin: -1.618rem 0 calc(1.618rem * 1.5);
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.site-nav li:after {
  /* @TODO remove underline on hover */
  content: "/";

  color: var(--c-gray-6);
  margin: 0 calc(1.618rem / 3);
}

.site-nav li:last-child:after {
  content: "";
}

/* =============================================================================
   Back Button
   ========================================================================== */

#back-nav {
  display: flex;
  align-items: center;
}

#back-nav:before {
  content: "←";
  margin-right: 0.5em;
  font-size: 1.2em;
  top: 0;
}

@media screen and (min-width: 650px) {
  #back-nav {
    position: relative;
  }
  #back-nav:before {
    position: absolute;
    left: -1.5em;
    top: -0.125em;
  }
}

/* =============================================================================
   Jim's Blog -> Jim Nielsen’s Blog
   ========================================================================== */

body > h1 span,
nav [href="/"] span {
  white-space: pre;
}

@media screen and (max-width: 500px) {
  body > h1 span,
  nav [href="/"] span {
    display: none;
  }
}

/* =============================================================================
   Article Header
   ========================================================================== */

article header h1 {
  max-width: 45rem;
}

article header time {
  opacity: 0.5;
  display: block;
  margin: calc(-1.618rem / 1) 0 calc(1.618rem * 2);
  font-family: ui-monospace, monospace;
}

/* =============================================================================
   Copy
   ========================================================================== */

.copy > *:not(table):not(pre) {
  max-width: 32rem;
  display: block;
}

.copy .image-container {
  max-width: none;
}
.copy .image-container span {
  font-size: 0.75rem;
  font-style: italic;
  opacity: 0.5;
  max-width: 32rem;
  display: block;
}

/* =============================================================================
   General
   ========================================================================== */

/**
 * Posts Lists - @TODO consider changing to something representing that it's 
 * a flat key/val list
 */
.posts-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.posts-list li {
  margin-bottom: calc(1.618rem / 2);
}

.posts-list time {
  display: block;
  font-family: ui-monospace, monospace;
  font-size: 0.7rem;
  opacity: 0.5; /* @TODO change to gray */
  margin-right: calc(1.618rem / 2);
  white-space: nowrap;
}

@media screen and (min-width: 520px) {
  .posts-list li {
    margin-bottom: calc(1.618rem / 4);
    display: flex;
    align-items: baseline;
  }
  .posts-list li a {
    order: 2;
  }
  .posts-list time {
    order: 1;
  }
}

/* Additions
   ========================================================================== */
