body {
  margin: 1.618rem calc(1.618 * 2rem) calc(1.618rem * 3);
}

@media screen and (max-width: 650px) {
  body {
    margin: calc(1.618rem / 2);
    margin-bottom: calc(1.618rem * 3);
  }
}

@media screen and (max-width: 500px) {
  .nielsen {
    display: none;
  }
}

/* =============================================================================
   Primary Site Navigation
   ========================================================================== */

.site-nav {
  margin: -1.618rem 0 calc(1.618rem * 1.5);
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.site-nav li:after {
  /* @TODO remove underline on hover */
  content: "/";

  color: var(--c-gray-6);
  margin: 0 calc(1.618rem / 3);
}

.site-nav li:last-child:after {
  content: "";
}

/* =============================================================================
   Article Header
   ========================================================================== */

article header h1 {
  max-width: 45rem;
}

article header time {
  opacity: 0.5;
  display: block;
  margin: calc(-1.618rem / 1) 0 calc(1.618rem * 2);
}

/* =============================================================================
   Copy
   ========================================================================== */

.copy > *:not(table):not(pre) {
  max-width: 32rem;
  display: block;
}
.copy .image-container {
  max-width: none;
}
.copy .image-container span {
  font-size: 0.75rem;
  font-style: italic;
  opacity: 0.5;
  max-width: 32rem;
  display: block;
}

/* =============================================================================
   General
   ========================================================================== */

/**
 * Posts Lists - @TODO consider changing to something representing that it's 
 * a flat key/val list
 */
.posts-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.posts-list li {
  margin-bottom: calc(1.618rem / 2);
}

.posts-list time {
  display: block;
  font-variant-numeric: tabular-nums;
  font-size: 0.7rem;
  opacity: 0.5; /* @TODO change to gray */
  margin-right: calc(1.618rem / 2);
  white-space: nowrap;
}

@media screen and (min-width: 520px) {
  .posts-list li {
    margin-bottom: calc(1.618rem / 4);
    display: flex;
    align-items: baseline;
  }
  .posts-list li a {
    order: 2;
  }
  .posts-list time {
    order: 1;
  }
}

/* =============================================================================
   <BlogPostsStatus>
   ========================================================================== */

#bps {
  background: var(--c-gray-6);
  border-radius: var(--border-radius);
  display: flex;
  align-items: flex-start;
  font-size: 0.7777rem;
  max-width: 50em;
}

#bps summary,
#bps > div {
  position: relative;
  padding: 10px 15px;
}

#bps[open] summary:after {
  content: "";
  width: calc(100% - 30px);
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 15px;
  background: var(--color-border);
}

#bps > div {
  text-align: center;
  color: var(--color-text-light);
}
