body {
  margin: 1.618rem calc(1.618 * 2rem) calc(1.618rem * 3);
}

@media screen and (max-width: 650px) {
  body {
    margin: calc(1.618rem / 2);
    margin-bottom: calc(1.618rem * 3);
  }
}

/* =============================================================================
   Primary Site Navigation
   ========================================================================== */

.nav {
  display: flex;
  align-items: center;
  color: var(--c-primary);
  max-width: 32rem;
}

.nav a[href="/"] {
  margin-right: calc(1.618rem / 2);
}

.nav svg {
  fill: var(--c-primary);
}

/* Site Navigation
   ========================================================================== */

site-nav {
  position: relative;
}
site-nav ul[hidden] {
  display: block;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
}
site-nav ul {
  background-color: var(--c-bg);
  background-color: -apple-system-control-background;
  border: 1px solid var(--c-gray-6);
  border-radius: var(--border-radius);
  list-style: none;
  margin: 0;
  box-shadow: 0 2px 10px var(--c-gray-3);
  padding: calc(1.618rem / 3) calc(1.618rem / 2);
  position: absolute;
  width: 250px;
  margin-left: -130px;
  left: 50%;
  top: 2rem;
  transition: 0.2s ease all;
  transform: scale(1);
  transform-origin: 50% 0;
  z-index: 100;
}

/*
site-nav ul:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid var(--c-gray-6);
  position: absolute;
  top: -12px;
  margin-left: -7px;
  left: 50%;
}
site-nav ul:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  top: -10px;
  margin-left: -5px;
  left: 50%;
}
*/

site-nav button {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: var(--c-primary);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  padding: calc(1.618rem / 6);
}

site-nav button:hover {
  background: var(--c-gray-6);
}

site-nav ul a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(1.618rem / 8) 0;
  position: relative;
}

site-nav ul a:after {
  content: attr(data-details);
  font-size: 0.725rem;
  color: var(--c-text);
  opacity: 0.625;
  position: absolute;
  right: 0;
  top: 0.5rem;
}

@media screen and (max-width: 500px) {
  .nav {
    justify-content: space-between;
  }
  site-nav ul {
    right: calc(-1.618rem / 3);
    left: initial;
    transform-origin: 85% 0;
  }
  /*
  site-nav ul:before,
  site-nav ul:after {
    margin-left: 0;
    left: initial;
    right: calc(1.618rem / 2);
  } */
}

/* =============================================================================
   Article Header
   ========================================================================== */

article header h1 {
  max-width: 45rem;
}

article header time {
  opacity: 0.625;
  display: block;
  margin: calc(-1.618rem / 1) 0 calc(1.618rem * 2);
}

/* =============================================================================
   Copy
   ========================================================================== */

.copy > *:not(table):not(pre) {
  max-width: 32rem;
  display: block;
}
.copy > p code {
  word-wrap: break-word;
}
.copy .image-container {
  max-width: none;
}
.copy .image-container span {
  font-size: 0.75rem;
  font-style: italic;
  opacity: 0.5;
  max-width: 32rem;
  display: block;
}

/* =============================================================================
   General
   ========================================================================== */

/**
 * Posts Lists - @TODO consider changing to something representing that it's 
 * a flat key/val list
 */
.posts-list {
  list-style: none;
  padding: 0;
  margin: 0 0 1.618rem 0;
}

.posts-list li {
  margin-bottom: calc(1.618rem / 2);
}

.posts-list li a {
  display: block;
}

.posts-list time {
  font-variant-numeric: tabular-nums;
  font-size: 0.7rem;
  opacity: 0.5; /* @TODO change to gray */
  white-space: nowrap;
}

.posts-list small {
  padding: 0 0.5em;
  font-size: 0.6em;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-left: 0.5em;
  order: 3;
  opacity: 0.5; /* @TODO gray? matches <time> */
  align-self: center;
}

@media screen and (min-width: 520px) {
  .posts-list li {
    margin-bottom: calc(1.618rem / 4);
    display: flex;
    align-items: baseline;
  }
  .posts-list li a {
    order: 2;
  }
  .posts-list time {
    order: 1;
    margin-right: calc(1.618rem / 2);
  }
}

/* =============================================================================
   <BlogPostsStatus>
   ========================================================================== */

#bps {
  border-radius: var(--border-radius);
  display: flex;
  align-items: flex-start;
  font-size: 0.7777rem;
  max-width: 50em;
}
#bps[open] {
  background: var(--c-gray-6);
}

#bps summary,
#bps > div {
  position: relative;
  padding: 10px 15px;
}

#bps[open] summary:after {
  content: "";
  width: calc(100% - 30px);
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 15px;
  background: var(--color-border);
}

#bps > div {
  text-align: center;
  color: var(--color-text-light);
}

/* =============================================================================
   SVG Icons
   ========================================================================== */

.icon {
  width: 24px;
  height: 24px;
}
