body {
  margin: 1.618rem calc(1.618 * 2rem) calc(1.618rem * 3);
}

@media screen and (max-width: 650px) {
  body {
    margin: calc(1.618rem / 2);
    margin-bottom: calc(1.618rem * 3);
  }
}

/* =============================================================================
   Primary Site Navigation
   ========================================================================== */

/* When there's no JS */
site-nav {
  display: flex;
  align-items: center;
  gap: calc(1.618rem / 4);
}

site-nav a[href="/"] {
  margin-right: calc(1.618rem / 2);
}

site-nav svg {
  fill: var(--c-primary);
}

site-nav[has-js] {
  align-items: flex-start;
  flex-direction: column;
}

.sn-top {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 599px) {
  .sn-top {
    width: 100%;
    justify-content: space-between;
  }
}

.sn-bottom {
  display: none;
  padding: calc(1.618rem / 2);
  background: var(--c-gray-6);
  gap: calc(1.618rem / 2);
  flex-wrap: wrap;
  margin-left: calc(1.618rem / -2);
  padding-left: calc(1.618rem / 2);
  width: calc(100% + calc(1.618rem / 1));
}
site-nav[has-js][open] .sn-bottom {
  display: flex;
}

@media screen and (min-width: 600px) {
  .sn-bottom {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    gap: 1.618rem;
    flex-wrap: nowrap;
    margin-left: calc(1.618rem * -2);
    padding-left: calc(1.618rem * 2);
    padding-right: calc(1.618rem * 2);
    width: auto;
  }
}
@media screen and (min-width: 960px) {
  .sn-bottom-section {
    display: flex;
    flex-wrap: wrap;
  }
}

/* Site Navigation
   ========================================================================== */

site-nav[has-js] ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: calc(1.618rem / 2);
}

site-nav button {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: var(--c-primary);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  padding: calc(1.618rem / 6);
}

site-nav button:hover {
  background: var(--c-gray-6);
}

site-nav ul a {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

site-nav[has-js] h5 {
  font-size: 1rem;
  margin: 0 calc(1.618rem / 4) 0 0;
}

site-nav[has-js] h5:after {
  content: ":";
}

.sn-color-picker {
  display: flex;
  align-items: center;
  gap: calc(1.618rem / 2);
  position: relative;
  top: 2px;
}

.sn-color-picker input {
  display: none;
}

.sn-color-picker label {
  width: 24px;
  height: 24px;
  border: 3px solid var(--c-gray-6);
  display: block;
  text-indent: -9999px;
  border-radius: 50%;
}

.sn-color-picker input:checked + label {
  box-shadow: 0 0 0 2px var(--c-primary);
}

@media screen and (min-width: 600px) {
  .sn-color-picker {
    gap: calc(1.618rem / 4);
  }
  .sn-color-picker label {
    width: 21px;
    height: 21px;
    border-width: 2px;
  }
}

/* =============================================================================
   Article Header
   ========================================================================== */

article header h1 {
  max-width: 45rem;
  margin-bottom: calc(1.618rem / 4);
}

article header time {
  opacity: 0.625;
  display: block;
}

/* =============================================================================
   Copy
   ========================================================================== */

.copy > *:not(table):not(pre) {
  max-width: 32rem;
  display: block;
}
.copy > p code {
  word-wrap: break-word;
}
.copy .image-container {
  max-width: none;
}
.copy .image-container span {
  font-size: 0.75rem;
  font-style: italic;
  opacity: 0.5;
  max-width: 32rem;
  display: block;
}

/* =============================================================================
   General
   ========================================================================== */

/**
 * Posts Lists - @TODO consider changing to something representing that it's 
 * a flat key/val list
 */
.posts-list {
  list-style: none;
  padding: 0;
  margin: 0 0 1.618rem 0;
}

.posts-list li {
  margin-bottom: calc(1.618rem / 2);
}

.posts-list li a {
  display: block;
}

.posts-list time {
  font-variant-numeric: tabular-nums;
  font-size: 0.7rem;
  opacity: 0.5; /* @TODO change to gray */
  white-space: nowrap;
}

.posts-list small {
  padding: 0 0.5em;
  font-size: 0.6em;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-left: 0.5em;
  order: 3;
  opacity: 0.5; /* @TODO gray? matches <time> */
  align-self: center;
  white-space: nowrap;
}

@media screen and (min-width: 520px) {
  .posts-list li {
    margin-bottom: calc(1.618rem / 4);
    display: flex;
    align-items: baseline;
  }
  .posts-list li a {
    order: 2;
  }
  .posts-list time {
    order: 1;
    margin-right: calc(1.618rem / 2);
  }
}

/* =============================================================================
   <BlogPostsStatus>
   ========================================================================== */

#bps {
  border-radius: var(--border-radius);
  display: flex;
  align-items: flex-start;
  font-size: 0.7777rem;
  max-width: 50em;
}
#bps[open] {
  background: var(--c-gray-6);
}

#bps summary,
#bps > div {
  position: relative;
  padding: 10px 15px;
}

#bps[open] summary:after {
  content: "";
  width: calc(100% - 30px);
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 15px;
  background: var(--color-border);
}

#bps > div {
  text-align: center;
  color: var(--color-text-light);
}

/* =============================================================================
   SVG Icons
   ========================================================================== */

.icon {
  width: 24px;
  height: 24px;
}
