<div class="archive-wrapper">
    
    
    {% if include.currentTag %}

        {% comment %} List of Posts Tagged X {% endcomment %}
        <h3 class="archive__title">Posts Tagged <a href="{{ site.baseurl }}/tags/{{ include.currentTag }}">#{{ include.currentTag }}</a></h3>
        <ul class="archive__list">
        {% for post in site.posts %}
            {% if post.tags contains include.currentTag %}
                <li>
                    <time>{{ post.date | date: "%b %-d, %Y" }}</time>
                    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
        
    {% else %}

        {% comment %} List of All Posts {% endcomment %}
        <h3 class="archive__title">All Blog Posts</h3>
        <ul class="archive__list">
            {% for post in site.posts %}
                <li>
                    <time>{{ post.date | date: "%b %-d, %Y" }}</time>
                    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul> 

    {% endif %}
</div>