<header class="header">
  <a href="{{ site.url }}{{ site.baseurl }}/" class="header__logo">
    <img
      src="{{ site.baseurl }}/assets/img/logo.png"
      alt="Jim Nielsen logo"
      width="202"
      height="99"
    />
  </a>

  <nav class="header__nav">
    <h1 class="header__nav__title accent">
      Jim Nielsen’s Blog
    </h1>

    <ul class="header__nav__list">
      <li>
        <a href="#posts" class="js-animate-scroll">Posts</a>
      </li>
      <li>
        <a href="#tags" class="js-animate-scroll">Tags</a>
      </li>
      <li>
        <a href="#links" class="js-animate-scroll">Links</a>
      </li>
      <!--
      <li>
        <a href="{{ site.baseurl }}/feed.xml">RSS</a>
      </li>
      <li>
        <a href="http://jim-nielsen.com/" class="link-external">My Portfolio</a>
      </li>
      -->
    </ul>
  </nav>
</header>
