<header class="header">
  <h1>
    jim-nielsen.com<a href="{{ site.url | append: site.baseurl }}/">/blog</a>
  </h1>
  
  <nav>
    <ul>
      <li>
        <a href="{{ site.url | append: site.baseurl }}/tags/">
          tags
        </a>
      </li>
      <li>
        <a href="{{ site.url | append: site.baseurl }}/feed.xml">
          rss feed
        </a>
      </li>
      <li>
        <a href="{{ site.url | append: site.baseurl }}/feed.json">
          json feed
        </a>
      </li>
      <script>
        // document.write('<li><form><label for="theme">dark mode<input type="checkbox" id="theme" class="tgl tgl-light"/><span class="tgl-btn"></span></label></form></li>')
      </script>
    </ul>
  </nav>
</header>
