<article class="content copy copy--md">

  <!-- Content Header
  =================================== -->
  <header class="content__header">
    <h1 data-label="title">
      <a href="{{ site.baseurl }}{{ post.url }}" class="bold">
        {{ page.title }}
      </a>
    </h1>

    <time data-label="date" class="truncate">
      {{ page.date | date: "%b %-d, %Y" }}
    </time>

    {% if page.tags %}
      <p data-label="tags" class="truncate">
        {% for tag in page.tags %}
          <a href="{{ site.baseurl }}/tags/#{{ tag }}" class="tag">
            #{{ tag }}
          </a>&nbsp;
        {% endfor %}
      </p>
    {% endif %}
  </header>


  <!-- Content Body
  =================================== -->
  {{ content }}

</article>
