<article class="article">

    <!-- Article Header
    =================================== -->
    <header class="article-header">
        <time class="date">{{ page.date | date: "%-d %b %Y" }}</time>
        <h1 class="title"><a href="{{ site.baseurl }}{{page.url}}">{{ page.title }}</a></h1>
        {% if page.summary %}
            <p class="excerpt">{{ page.summary }}</p>
        {% endif %}
    </header>


    <!-- Article Content
    =================================== -->
    <div class="content">
        {{ content }}
    </div>

    <!-- Tags
    =================================== -->
    {% if page.tags %}
        <ul class="tags">
            {% for tag in page.tags %}
                <li><a href="#" class="tag icon-tag">{{ tag }}</a></li>            
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Comments
    =================================== -->
    {% if include.currentPage != 'home' %}
        <p class="article-footer content"><strong>Question? Comment? Suggestion? <a href="http://twitter.com/jimniels" class="icon-twitter">Tweet me</a></strong></p>
    {% endif %}

</article>