<article class="article">

    <!-- Article Header
    =================================== -->
    <header class="article-header">
        <time class="date">{{ page.date | date: "%-d %b, %Y" }}</time>
        <h1 class="title"><a href="{{ site.baseurl }}{{page.url}}">{{ page.title }}</a></h1>
        {% if page.summary %}
            <p class="excerpt">{{ page.summary }}</p>
        {% endif %}
    </header>


    <!-- Article Content
    =================================== -->
    <div class="content">
        {{ content }}
    </div>


    {% if include.currentPage != 'home' %}
        <!-- Footer
        =================================== -->
        <footer class="article-footer">
            {% if page.tags %}
                <p class="tags"> 
                    {% for tag in page.tags %}
                        <a href="{{ site.baseurl }}/tags/{{ tag }}/" class="tag">#{{ tag }}</a>
                    {% endfor %}
                </p>
            {% endif %}     

        </footer>
    {% endif %}

</article>