//
//
//  Posts List
//  ==============================
//

.archive {
    font-size: .875em;
    overflow: hidden;
    max-width: #{$max-width-base + 8};
    margin: 0 auto 4em;
    border-top: 1px solid $color-border-light;

    &__toc {
        @include vendor-prefix(column-count, 3);
        padding-bottom: 1em;
        margin-bottom: 2em;
        border-bottom: 1px solid $color-border-light;

        @media screen and (max-width: $media-query-s) {
            @include vendor-prefix(column-count, 1);
        }

    }

    &__title {
        font-family: $font-stack-secondary;
        color: $color-highlight;
        margin: 1em 0 0;
    }

    &__list {
        overflow: hidden;

        li {
            padding: .25em 0;
        }

        // Date
        time {
            font-family: $font-stack-secondary;
            font-size: .625em;
            color: $color-text-lightest;
            letter-spacing: -0.0125em;
            float: left;
            line-height: 2.5;
            display: block;

            @media screen and (max-width: $media-query-s) {
                float: none;
            }
        }

        // Link
        a {
            display: block;
            margin-left: 5em;
            line-height: 1.5;

            @media screen and (max-width: $media-query-s) {
                margin-left: 0;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.archive__list {

}
