@mixin max-width() {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 37rem) {
    max-width: 35rem;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  line-height: 1.618;
  font-size: 16px;
}

@media screen and (min-width: 1200px) {
  html { font-size: 18px }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #222;
  margin-bottom: calc(1.618rem * 3);
}




.site-header {
  max-width: 35rem;
  position: relative;
  margin: calc(1.618 * 2rem) auto calc(1.618 * 5rem);

  > * {
    margin: 0;
  }

  a {
    // color: inherit;
  }

  h1 { 
    font-size: 1rem;
    
    a {
      text-decoration: none;
      display: inline-block;
      
      &:hover {
        text-decoration: underline;
      }

      &[href*="about"] {
        font-weight: normal;
      }
    }
  }

  img {
    @media screen and (min-width: 50rem) {
      position: absolute;
      left: calc(-85px - 1.618rem);
      top: -20px;
    }
  }
}




.site-nav {
  display: flex;

  > * {
    margin-right: calc(1.618rem / 2);
  }
}




.max-width-wrapper {
  @include max-width();
}




.posts {
  list-style: none;
  padding-left: 0;
  @include max-width();

  ul {
    padding: 0;
  }

  .post-wrapper {
    display: flex;
    align-items: flex-start;
    margin-bottom: .125rem;

    @media screen and (max-width: 520px) {
      flex-direction: column;
      padding: .382rem 0;
    }

    .post-title {
      order: 2;
    }

    > .post-date {
      order: 1;
      min-width: 7rem;
      font-size: .9rem;
      position: relative;
      top: .1rem;
    }
  }
}




//
// Markdown
// ======================================================================
// Styles for markdown

.markdown {
  header {
    h1 {
      margin: 1.618rem 0;
    }

    time {
      opacity: .5;
      display: block;
    }
  }

  > * {
    @include max-width();
    display: block;
    margin-bottom: 1.618em;
  }

  //
  // Headings
  // ========================================

  h1, h2, h3, h4, h5 {
    position: relative;
    font-weight: 700;
    margin-bottom: .382em;
    line-height: 1.2;

    &:before {
      display: none;

      @media screen and (min-width: 45rem) {
        display: block;
        font-weight: normal;
        position: absolute;
        right: calc(100% + 1.618rem);
        top: .3em;
        font-size: .7em;
        opacity: .25;
      }
    }
  }

  h1:before { content: 'h1' }
  h2:before { content: 'h2' }
  h3:before { content: 'h3' }
  h4:before { content: 'h4' }

  // http://type-scale.com/
  // major third
  h1 { font-size: 2.441rem }
  h2 { font-size: 1.953rem }
  h3 { font-size: 1.563rem }
  h4 { font-size: 1.25rem }


  // h1 {
  //   font-size: calc(1.618rem + (1rem/1));
  // }

  // h2 {
  //   font-size: calc(1.618rem + (1rem/2));
  // }

  // h3 {
  //   font-size: calc(1.618rem + (1rem/3));
  // }

  // h4 {
  //   font-size: calc(1.618rem + (1rem/4));
  // }

  //
  // Element Margins
  // ========================================

  // p, ul, ol, blockquote, hr, > object, > iframe, > div, > pre {
  //   margin-bottom: 1.618em;
  //   display: block;
  // }


  //
  // Lists
  // ========================================

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ul,
  ol {
    list-style-position: outside;
    padding-left: 1.618rem;
  }

  ol ol,
  ol ol ol,
  ul ul,
  ul ul ul {
    margin: 0;
    margin-left: 1.618rem;
  }


  //
  // Inline Text
  // ========================================

  strong {
    font-weight: 700;
  }

  em {
    font-style: italic;
  }


  //
  // Blockquote
  // ========================================

  blockquote {
    position: relative;
    border-left: 2px solid rgba(0, 0, 0, .1);
    padding-left: 1rem;
    opacity: .75;

    em {
      font-style: italic;
    }

    > * {
      margin-left: 0;
      margin-right: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }


  //
  // Code
  // ========================================

  code {
    padding: 0 (4em / 18) (2em / 18);
    margin: 0 .325rem;
    border-radius: .166667rem;
    background: rgba(0, 0, 0, .05);
    // border: 1px solid rgba(0, 0, 0, .1);
    // white-space: pre;
  }

  pre {
    line-height: 1rem;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    // background: transparent;
    // border-radius: .166667rem;
    tab-size: 2;
    margin: 0;

    code {
      line-height: 1.5rem;
      white-space: pre;

      // override inline code styles
      padding: 0;
      margin: 0;
      background: transparent;
      border: none;
      border-radius: 0;
    }
  }
  
  // Jekyll auto-generates classes for code highlighting. We tap into that here.
  > .highlighter-rouge {
    padding: 1.618rem;
    padding-right: 0;
    background: rgba(0,0,0,.05);
    max-width: 37rem;
  }


  //
  // Horizontal Ruler
  // ========================================

  hr {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    max-width: calc(35rem + 1.618rem);
  }

  //
  // Images
  // ========================================

  img {
    display: block;
    max-width: 100%;
    // border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .075);
    box-shadow: 0 3px 12px rgba(0,0,0,.025), 0 1px 3px rgba(0,0,0,.05)
  }

  // Image Container
  // Class applied via JS to parent <p> tags on mardown generated HTML
  .image-container {
    text-align: center;
    max-width: none;

    img {
      margin-left: auto;
      margin-right: auto;
    }

    span {
      font-size: .85rem;
      font-style: italic;
      opacity: .5;
      max-width: 30rem;
      display: block;
      margin: .5rem auto 0;
    }
  }
}

