//
//
//  Content
//  ======================================================================
//  Typographic styles for blog post content
//

.content {
  position: relative;

  //
  // Header
  // ========================================

  &__header {
    margin-bottom: em(40);
    @include max-width();

    // Override any default html tag styles
    > * {
      margin: 0 !important;
    }

    // Add front matter dividers
    &:before,
    &:after {
      content: '- - -';
      display: block;
    }

    // Prefix each header item with a label
    > *:before {
      content: attr(data-label) ':';
    }
  }
}
