//
//
//  Content
//  ======================================================================
//  Typographic styles for blog post content
//

.content {
  position: relative;

  //
  // Header
  // ========================================

  &__header {
    padding: 1.618em 0;
    margin-bottom: 1.618em;
    @include max-width();
    border-bottom: 1px solid rgba(0,0,0,.15);

    p {
      opacity: .75;
      font-size: em(16);
      // text-transform: uppercase;
      // letter-spacing: em(1);
      // Override
      margin: 0 !important;
      max-width: 100% !important;

      span {
        display: inline-block;
      }
    }
  }
}
