//
// Copy
// ======================================================================
// Styles for copy

.theme-dark {
  .copy {
    header {
      border-color: rgba(255,255,255,.05);
    }
  }
}

.copy {

  header {
    margin: 0 auto 1.618rem;
    @include max-width();
    border-bottom: 1px solid rgba(0,0,0,.1);
  }

  //
  // Headings
  // ========================================

  h1, h2, h3, h4, h5 {
    position: relative;
    font-weight: 700;
    margin-bottom: .382em;
    line-height: 1.1618;
    @include max-width();
  }

  h1 { @include heading-prefix('h1') }
  h2 { @include heading-prefix('h2') }
  h3 { @include heading-prefix('h3') }
  h4 { @include heading-prefix('h4') }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.625rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  //
  // Element Margins
  // ========================================

  p, ul, ol, blockquote, hr, > object, > iframe, > div, > pre {
    @include max-width();
    margin-bottom: 1.618em;
    display: block;
  }


  //
  // Lists
  // ========================================

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ul,
  ol {
    list-style-position: outside;
    padding-left: 1.618rem;
  }

  ol ol,
  ol ol ol,
  ul ul,
  ul ul ul {
    margin: 0;
    margin-left: 1.618rem;
  }


  //
  // Inline Text
  // ========================================

  strong {
    font-weight: 700;
  }

  em {
    font-style: italic;
  }


  //
  // Blockquote
  // ========================================

  blockquote {
    position: relative;
    border-left: 3px solid rgba(0, 0, 0, .1);
    padding-left: 1.618rem;
    font-style: italic;

    em {
      font-style: normal;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }


  //
  // Code
  // ========================================

  code {
    font-family: $font-stack-monospace;
  }

  code {
    padding: 0 (4em / $font-size-base-px) (2em / $font-size-base-px);
    margin: 0 .325rem;
    border-radius: .166667rem;
    background: rgba(0, 0, 0, .05);
    border: 1px solid rgba(0, 0, 0, .1);
    // white-space: pre;
  }

  pre {
    line-height: 1rem;
    padding: 1.618rem;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background: rgba(0, 0, 0, .05);
    border-radius: .166667rem;
    tab-size: 2;

    code {
      line-height: 1.5rem;
      white-space: pre;

      // override inline code styles
      padding: 0;
      margin: 0;
      background: transparent;
      border: none;
      border-radius: 0;
    }
  }
  
  // Jekyll auto-generates classes for code highlighting. We tap into that here.
  [class^="language-"] {
    max-width: 50rem;
  }


  //
  // Horizontal Ruler
  // ========================================

  hr {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
  }

  //
  // Images
  // ========================================

  img {
    display: block;
    max-width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .075);
  }

  // Image Container
  // Class applied via JS to parent <p> tags on mardown generated HTML
  .image-container {
    text-align: center;
    max-width: none;

    img {
      margin-left: auto;
      margin-right: auto;
    }

    span {
      font-size: rem(16);
      font-style: italic;
      opacity: .5;
      max-width: rem(520);
      display: block;
      margin: rem(5) auto 0;
    }
  }
}
