//
//
// General
// =============================================================================
//

:root {
  --color-primary: #FF0000;
}

html {
  font-size: 16px;
  color: $color-text;
  -webkit-text-size-adjust:none;
  font-family: $font-stack;
  transition: .333s ease background;
  background: #f2f2f2;

  @media screen and (min-width: 860px) {
    font-size: 18px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  line-height: 1.618;
  position: relative;
  background: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,.333);
  margin: 0 auto;
  max-width: 960px;
  background: #fff url(/blog/assets/img/background@2x.png) no-repeat 0 0;
  background-size: 100%;

  @media screen and (min-width: 860px) {
    margin-top: 1.618rem;
    margin-bottom: 1.618rem;
  }
}

img {
  max-width: 100%;
  height: auto;
}

:link { color: #0000EE; }
:visited { color: #551A8B; }
:link:active, :visited:active { color: #FF0000; }
:link, :visited { cursor: pointer; }

:link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.wrapper {
  @include max-width();
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.date {
  white-space: nowrap;
}

//
// Miscellaneous
// ========================================

:target h2 {
  color: $color-primary;
}

//
// Typographic Helpers
// ========================================

.bold {
  font-weight: 700;
}

.truncate {
  @include truncate();
}

.font-weight-normal {
  font-weight: normal;
}

.nav-links {
  display: flex;
  align-items: center;

  li {
    &:after {
      content: "·";
      margin: 0 .5rem 0 .25rem;
    }
    &:last-child:after {
      display: none;
    }
  }
}


.posts {
  list-style: none;
  padding-left: 0;
  @include max-width();

  .post-wrapper {
    display: flex;
    align-items: flex-start;
    margin-bottom: .125rem;

    @media screen and (max-width: 520px) {
      flex-direction: column;
      padding: .382rem 0;
    }

    .post-title {
      order: 2;
    }

    > .post-date {
      order: 1;
      min-width: 7rem;
      font-size: .9rem;
      position: relative;
      top: .05rem;
    }
  }
}
