//
//
// General
// =============================================================================
//

html {
  box-sizing: border-box;
  font-size: #{$font-size-base}px;
  color: $color-text;
  -webkit-text-size-adjust:none;
  font-family: $font-stack;
  font-weight: 400;
  border-top: 5px solid $color-primary;

  &.theme-dark {
    background: $color-text;
    color: #dcd5d5;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  line-height: 1.618;
  transition: .333s ease background;
}

.main {
  @include wrapper();
  max-width: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $color-primary;
  position: relative;

  &:hover {
    border-radius: 2px;
    text-decoration: underline;
    color: lighten(desaturate($color-primary, 10%), 7%);
    // background-color: rgba($color-primary, .075);
  }

  // &:hover:after,
  // &:hover:before {
  //   width: 50%;
  // }

  // &:after,
  // &:before {
  //   transition: .22s ease all;
  //   height: 1px;
  //   background: $color-primary;
  //   content: '';
  //   position: absolute;
  //   bottom: 0;
  //   width: 0;
  // }

  // &:after {
  //   left: 50%;
  // }
  // &:before {
  //   right: 50%;
  // }
}

.wrapper {
  @include max-width();
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.date {
  white-space: nowrap;
}

//
// Miscellaneous
// ========================================


// Date stuff for tag index
.tags-date {
  font-size: .625em;
  opacity: .5;
  letter-spacing: -0.0125em;
  display: block;
  float: right;
  margin-left: 20px;
}

:target h2 {
  color: $color-primary;
}

//
// Typographic Helpers
// ========================================

.bold {
  font-weight: 700;
}

.truncate {
  @include truncate();
}

.font-weight-normal {
  font-weight: normal;
}
