//
//
// General
// =============================================================================
//

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $color-text;
  -webkit-text-size-adjust:none;
  font-size: $font-size-base;
  line-height: 1.618;
  font-family: $font-stack;
  font-weight: 400;
  border-top: 5px solid $color-primary;

  @media screen and (max-width: $media-query) {
    font-size: em(18, 16);
  }
}

.main {
  @include wrapper();
  max-width: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $color-primary;
  position: relative;

  &:hover {
    text-decoration: underline;
    color: lighten($color-primary, 5%);
  }

  // &:hover:after,
  // &:hover:before {
  //   width: 50%;
  // }

  // &:after,
  // &:before {
  //   transition: .22s ease all;
  //   height: 1px;
  //   background: $color-primary;
  //   content: '';
  //   position: absolute;
  //   bottom: 0;
  //   width: 0;
  // }

  // &:after {
  //   left: 50%;
  // }
  // &:before {
  //   right: 50%;
  // }
}

.wrapper {
  @include max-width();
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.date {
  opacity: .5;
  white-space: nowrap;
}

//
// Miscellaneous
// ========================================


// Date stuff for tag index
.tags-date {
  font-size: .625em;
  opacity: .5;
  letter-spacing: -0.0125em;
  display: block;
  float: right;
  margin-left: 20px;
}

:target h2 {
  color: $color-primary;
}

//
// Typographic Helpers
// ========================================

.bold {
  font-weight: bold;
}

.truncate {
  @include truncate();
}

.link-external {
  &:after {
    content: '\2197';
    font-size: em(10);
    margin-left: em(4, 10);
    position: relative;
    top: em(-1);
  }
}
