//
//
//  Header
//  ======================================================================
//

$local-header-breakpoint: 400px;

//
// Header
// ========================================

.header {
  font-size: 1rem;
  z-index: 1;
  @include wrapper();
  padding: 1.618rem 0;
  border-bottom: 1px solid rgba(0,0,0,.15);
  margin-bottom: 1.618rem;

  @media screen and (min-width: $local-header-breakpoint) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h1 {
    font-size: rem(24);

    > :first-child {
      font-weight: normal;
    }

    > :last-child {
      font-weight: 700;
    }
  }
  
  nav ul {
    display: flex;
    align-items: center;
    font-size: rem(14);
    list-style: none;

    li {
      margin-left: rem(10);
      display: flex;

      &:first-child {
        margin-left: 0;

        &:before {
          display: none;
        }
      }

      &:before {
        content: ' · ';
        opacity: .75;
        margin-right: rem(10);
      }
    }
  }

  label {
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    .tgl-btn {
      margin-left: rem(4);
    }
  }
}


//
// Toggles
// ========================================

.tgl {
	display: none;
  
	// add default box-sizing for this scope
	& + .tgl-btn {
		
		&::selection {
			background: none;
		}
	}
  
	+ .tgl-btn {
		outline: 0;
		display: block;
		width: rem(35);
		height: rem(20);
		position: relative;
		cursor: pointer;
    user-select: none;
		&:after,
    &:before {
			position: relative;
			display: block;
			content: "";
			width: 50%;
			height: 100%;
		}
    
		&:after {
			left: 0;
		}
    
		&:before {
			display: none;
		}
	}
  
	&:checked + .tgl-btn:after {
		left: 50%;
	}
}

// themes
.tgl-light {
	+ .tgl-btn {
		background: #ccc;
		border-radius: 2em;
		padding: 2px;
		transition: all .4s ease;
		&:after {
			border-radius: 50%;
			background: #fff;
			transition: all .2s ease;
		}
	}
  
	&:checked + .tgl-btn {
		background: $color-primary;
	}
}