//
//
//  Header
//  ======================================================================
//

$local-header-breakpoint: 400px;

//
// Header
// ========================================

.header {
  font-size: em(14);
  z-index: 1;
  @include wrapper(14);
  padding: em(40) 0;

  @media screen and (min-width: $local-header-breakpoint) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

//
// Logo
// ========================================

.header__logo {
  display: block;
  width: 160px;
  margin: 0 auto em(20);

  @media screen and (min-width: $local-header-breakpoint) {
    margin: 0;
    width: 180px;
  }
}


//
// Nav
// ========================================

.header__nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $local-header-breakpoint) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.header__nav__title {}

.header__nav__list {
  display: flex;

  li {
    &:before {
      content: '·';
      margin: 0 em(10);
    }
    &:first-child:before {
      display: none;
    }
  }
}

// Theme control is added via JS, so it's not in the source HTML
.header__nav__theme-control {
  display: flex;

  dt {
    margin-right: em(10);
  }

  span {
    &:before {
      content: '/';
      margin: 0 em(5, 14);
      opacity: .325;
    }
  }

  a {
    text-transform: capitalize;
    display: inline-block;
  }

  a.accent {
    text-decoration: none;

    &:hover {
      cursor: default;
    }
  }
}
