//
//
//  Header
//  ======================================================================
//

$local-header-breakpoint: 400px;

//
// Header
// ========================================

.header {
  font-size: 1rem;
  z-index: 1;
  @include wrapper();
  padding: 1.618rem 0;
  border-bottom: 1px solid rgba(0,0,0,.15);
  margin-bottom: 1.618rem;

  @media screen and (min-width: $local-header-breakpoint) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h1 {
    font-size: rem(24);

    > :first-child {
      font-weight: normal;
      color: inherit;
    }

    > :last-child {
      font-weight: 700;
    }
  }
  
  nav ul {
    display: flex;
    align-items: center;
    font-size: rem(16);

    li {
      margin-left: 1rem;

      &:first-child {
        margin-left: 0;
      }

      // &:after {
      //   content: ' · ';
      //   opacity: .75;
      // }
    }
  }
}


//
// Nav
// ========================================

.header__nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $local-header-breakpoint) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.header__nav__title {}

.header__nav__list {
  display: flex;

  li {
    &:before {
      content: '·';
      margin: 0 em(10);
    }
    &:first-child:before {
      display: none;
    }
  }
}

// Theme control is added via JS, so it's not in the source HTML
.header__nav__theme-control {
  display: flex;

  a {
    text-transform: capitalize;
    display: inline-block;

    &:first-child:after {
      content: '/';
      margin: 0 em(5, 14);
      opacity: .325;
      color: $color-text;
    }

    &[disabled] {
      text-decoration: none;
      color: inherit;

      &:hover {
        cursor: default;
      }
    }
  }
}
