//
//
//  Mixins & Functions
//  ======================================================================
//  Used by img caption, blog excerpts
//

@function rem($pixels) {
  @return #{$pixels/$font-size-base}rem;
}

@mixin max-width() {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: $media-query-s) {
    max-width: 100%;
  }
}

@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

@mixin truncate {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin wrapper($context: $font-size-base-px) {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

@mixin heading-prefix($text) {
  &:before {
    content: '#{$text}';
    font-weight: normal;
    position: absolute;
    right: 101.5%;
    top: .25em;
    font-size: .75em;
    opacity: .25;
  }
}
