//
//
//  Mixins & Functions
//  ======================================================================
//  Used by img caption, blog excerpts
//

@function em($pixels, $context: $font-size-base-px) {
  @return #{$pixels/$context}em;
}

@mixin max-width($context: $font-size-base-px) {
  max-width: #{750 / $context}em;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: $media-query-s) {
    max-width: 100%;
  }
}

@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

@mixin truncate {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin wrapper($context: $font-size-base-px) {
  @include max-width($context);
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
