//
//
//  Header & Nav
//  ======================================================================
//


//
// Shared Nav Footer/Header
// ========================================

.nav-header,
.nav-footer {
  .nav-list {
    h2 {
      text-transform: uppercase;
      letter-spacing: .075em;
      font-weight: bold;
    }

    &__item {
      padding: 0 em(20, 13);
      @include truncate;
    }
  }
}

//
// Nav Header
// ========================================

.nav-header {
  overflow: hidden;

  @media screen and (max-width: $media-query) {
    display: none;
  }

  //
  // List
  // ==========

  .nav-list {
    margin-top: em(20, 13);

    &:last-child {
      margin-bottom: em(60, 13);
    }

    //
    // Header
    //

    &__header {
      padding: 0 em(20, 13);
    }

    //
    // Item
    //

    &__item {

      &--external:after {
        content: '\2197';
      }

      &--active {
        opacity: .5;

        &:before {
          content: '\25CB';
          position: absolute;
          margin-left: em(-15, 13);
        }
      }
    }

    //
    // Active Element
    // Note: this should be an <li>

    .active {
      a:hover {
        cursor: default;
      }
    }

    //
    // Modifier: Tags
    //

    &--tags {
      ul {
        //@include vendor-prefix('column-count', '2');
      }
    }
  }
}

//
// Nav Footer
// ========================================

.nav-footer {
  font-size: em(13);
  background-color: $color-sidebar-bg;
  padding: em(30, 13) em(60, 13);
  color: lighten($color-sidebar-text, 20%);
  display: none;

  @media screen and (max-width: $media-query) {
    display: block;
  }

  @media screen and (max-width: $media-query-s) {
    padding: em(30, 13) em(15, 13);
  }

  //
  // Nav List
  // ==========

  .nav-list {
    margin-bottom: em(20, 13);
    @include max-width(13);

    a {
      color: inherit;
    }

    &__item--active {
      opacity: .5;
    }

    &--posts,
    &--tags,
    &--links {
      ul li {
        padding: 0 em(10, 13) 0 0;
        position: relative;
        border-bottom: 1px solid rgba($color-sidebar-border, .5);
      }

      a,
      span {
        padding: em(5, 13) 0;
        text-decoration: none;
        @include truncate();

        &:after {
          content: '›';
          position: absolute;
          right: 0;
        }
      }
    }
  }
}
