//
//
// Theme
// ======================================================================
// All colors related to themeing are defined here
//


//
// Toolbar
// ========================================

.theme-toolbar {
  border-radius: 5px;
  height: 30px;
  position: fixed;
  right: 20px;
  top: 40px;
  width: 200px;
  @include clearfix();
  overflow: hidden;

  @media screen and (max-width: $media-query) {
    position: static;
    width: 100%;
    margin-bottom: em(40, 13)
  }

  li {
    float: left;
    width: 33.3333333%;
    text-indent: -9999px;
    height: 100%;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    &:before,
    &:after {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      top: 9px;
      border-radius: 10px;
    }

    &:before {
      left: 50%;
      margin-left: -5px;
    }

    &:after {
      right: 50%;
      margin-right: -5px;
    }
  }

  //
  // Styles
  // ==========

  border: 1px solid $color-sidebar-border-light;

  li {
    background: white;

    &.active {
      background-color: $color-sidebar-border-light;
    }

    &:nth-child(2) {
      border-left: 1px solid $color-sidebar-border-light;
      border-right: 1px solid $color-sidebar-border-light;
    }

    &[title*="light"] {

      &:before,
      &:after {
        border: 1px solid $color-sidebar-text;
      }
    }

    &[title*="regular"] {

      &:before {
        width: 6px;
        border-radius: 6px 0 0 6px;
        background-color: $color-sidebar-text;
      }

      &:after {
        width: 6px;
        border-radius: 0 6px 6px 0;
        border: 1px solid $color-sidebar-text;
      }
    }

    &[title*="dark"] {

      &:before,
      &:after {
        background: $color-sidebar-text;
      }
    }
  }

  // In the footer it's always the same 'dark' theme
  // @media screen and (max-width: $media-query) {
  //   border-color: $color-sidebar-border;
  //
  //   li {
  //     background: $color-content-bg-dark;
  //
  //     &.active {
  //       background-color: $color-sidebar-border;
  //     }
  //
  //     &:nth-child(2) {
  //       border-left-color: $color-sidebar-border;
  //       border-right-color: $color-sidebar-border;
  //     }
  //   }
  // }
}


//
// Light
// ========================================

.header {
  background: $color-sidebar-bg;
  color: $color-sidebar-text;
  border-color: $color-sidebar-border;

  a:hover {
    color: white;
  }

  &:before {
    background-image: linear-gradient(rgba($color-sidebar-bg, 0), $color-sidebar-bg 50%);
  }
}

.nav-header {
  border-top: 1px solid $color-sidebar-border;

  .active {
    color: white;
    background-color: $color-sidebar-active;
  }
}

.nav-footer {
  background-color: $color-sidebar-bg;
  color: lighten($color-sidebar-text, 20%);

  .nav-list {
    ul li {
      border-bottom: 1px solid rgba($color-sidebar-border, .5);
    }
  }
}

.theme-light {

  .header {
    background: $color-sidebar-bg-light;
    color: $color-sidebar-text-light;
    border-color: $color-sidebar-border-light;

    a:hover {
      color: $color-content-link;
    }

    &:before {
      background-image: linear-gradient(rgba($color-sidebar-bg-light, 0), $color-sidebar-bg-light 50%);
    }
  }

  .nav-header {
    border-top: 1px solid $color-sidebar-border-light;

    .active {
      color: $color-content-link;
      background-color: $color-sidebar-active-light;
    }
  }

  .nav-footer {
    background-color: $color-sidebar-bg-light;
    color: $color-sidebar-text-light;

    .nav-list {
      ul li {
        border-bottom-color: $color-sidebar-border-light;
      }
    }
  }
}


//
// Dark
// ========================================

body {
  background-color: $color-content-bg; // put this on body for edge case short articles
}

.content {
  color: $color-content-text;

  a {
    color: $color-content-link;
  }
}

.theme-dark {
  body {
    background-color: $color-content-bg-dark;
  }

  .content {
    color: $color-content-text-dark;
  }

  .theme-toolbar {

  }
}

@mixin toolbar-dark() {
  border-color: $color-sidebar-border;

  li {
    background-color: $color-content-bg-dark;

    &.active {
      background-color: $color-sidebar-border;
    }

    &:nth-child(2) {
      border-left-color: $color-sidebar-border;
      border-right-color: $color-sidebar-border;
    }
  }
}

.theme-dark .theme-toolbar {
  @include toolbar-dark();
}

.theme-regular .theme-toolbar {
  @media screen and (max-width: $media-query) {
    @include toolbar-dark();
  }
}
