//
//
// Theme
// ======================================================================
// All colors related to themeing are defined here
//
//

.accent {
  color: $color-primary;
}


//
// Light
// ========================================
// This is the default, so we dno't necessarily need overrides here

body {
  transition: .333s ease background;
}

.footer {

  > div {
    background: rgba(0, 0, 0, .0333);
  }

  :target {
    background: rgba($color-primary, .065);

    h2 {
      color: $color-primary;
    }
  }
}



//
// Dark
// ========================================

.theme-dark {
  body {
    background: #270000;
    color: #dcd5d5;
  }

  .footer {
    > div {
      background: rgba(255, 255, 255, .0333);
    }
  }
}
