//
//
// Variables
// ======================================================================
//


//
// Colors
// ========================================

$color-text: #252525;
$color-primary: #C02702;

//
// Typography
// ========================================

$font-stack             : -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;;
$font-stack-monospace   : monospace;
$font-size-base         : 1.3125em;
$font-size-base-px      : 21;


//
// Media Queries
// ========================================

$media-query            : 1000px;
$media-query-s          : 600px;
$media-query-lg         : 1300px;

//
// Other
// ========================================

$spacer: (20em / $font-size-base-px)
