//
//
// Variables
// ======================================================================
//



//
// Colors
// ========================================

$color-primary: #C02702;

// Defaults

$color-sidebar-bg: #292929; // #273238;
$color-sidebar-border: #4B4545; //#374850;
$color-sidebar-text: #736B6A; //#546F7A;
$color-sidebar-active: $color-sidebar-border;

$color-content-bg: #fff;
$color-content-text: $color-sidebar-bg;
$color-content-text-light: #BBB0AF; //#AFBFC6;
$color-content-highlight: #D82C1E; //#D0513E;
$color-content-link: $color-content-highlight; //#80CBC4;


// Light/Dark Theme
$color-sidebar-bg-light: #F5F1F1;
$color-sidebar-border-light: #ECE0DF;
$color-sidebar-text-light: #AE9696;
$color-sidebar-active-light: #ECE0DF;

$color-content-bg-dark: #363636;
$color-content-text-dark: #ccc;

//
// Typography
// ========================================

$font-stack             : -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;;
$font-stack-monospace   : monospace;
$font-size-base         : 1em;
$font-size-base-px      : 16;


//
// Media Queries
// ========================================

$media-query            : 1000px;
$media-query-s          : 600px;
$media-query-lg         : 1300px;
