:root {
  --border-radius: 10px;

  /* Theme color that gets set by default but is configurable by the user */
  --c-theme-h: var(--c-blue-h);
  --c-theme-s: var(--c-blue-s);
  --c-theme-l: var(--c-blue-l);
  --c-theme: hsl(var(--c-theme-h) var(--c-theme-s) var(--c-theme-l));

  --c-bg: hsl(var(--c-theme-h) var(--c-theme-s) 99%);
  --c-fg: hsl(var(--c-theme-h) var(--c-theme-s) 97%);
  --c-text: hsl(var(--c-theme-h) var(--c-theme-s) 5%);

  /* 
   * https://developer.apple.com/design/human-interface-guidelines/macos/visual-design/color/
   * accessible
   */
  --c-blue-h: 223;
  --c-blue-s: 100%;
  --c-blue-l: 43%;
  --c-red-h: 354;
  --c-red-s: 100%;
  --c-red-l: 42%;
  --c-green-h: 135;
  --c-green-s: 59%;
  --c-green-l: 34%;
  --c-yellow-h: 27;
  --c-yellow-s: 100%;
  --c-yellow-l: 35%;
  --c-purple-h: 280;
  --c-purple-s: 43%;
  --c-purple-l: 47%;
  --c-pink-h: 343;
  --c-pink-s: 87%;
  --c-pink-l: 44%;
  --c-none-h: 0;
  --c-none-s: 0%;
  --c-none-l: 0%;
  --c-orange-h: 16;
  --c-orange-s: 100%;
  --c-orange-l: 39%;

  /* not supported yet */
  --c-theme-mint: 177 83% 28%;
  --c-theme-teal: 189 100% 30%;
  --c-theme-cyan: 199 100% 32%;
  --c-theme-indigo: 241 52% 42%;
  --c-theme-brown: 33 30% 38%;
}

/* background-color: -apple-system-control-background;
color: text */

@media (prefers-color-scheme: dark) {
  :root {
    --c-bg: hsl(var(--c-theme-h) calc(var(--c-theme-s) - 20%) 2%);
    --c-fg: hsl(var(--c-theme-h) calc(var(--c-theme-s) - 20%) 6%);
    --c-text: hsl(var(--c-theme-h) var(--c-theme-s) 98%);

    --c-blue-h: 211;
    --c-blue-s: 100%;
    --c-blue-l: 63%;
    --c-red-h: 3;
    --c-red-s: 100%;
    --c-red-l: 69%;
    --c-green-h: 135;
    --c-green-s: 70%;
    --c-green-l: 52%;
    --c-yellow-h: 48;
    --c-yellow-s: 100%;
    --c-yellow-l: 57%;
    --c-purple-h: 280;
    --c-purple-s: 100%;
    --c-purple-l: 78%;
    --c-pink-h: 348;
    --c-pink-s: 100%;
    --c-pink-l: 70%;
    --c-none-h: 0;
    --c-none-s: 0%;
    --c-none-l: 100%;
    --c-orange-h: 36;
    --c-orange-s: 100%;
    --c-orange-l: 63%;

    /* not supported yet */
    --c-theme-mint: 177 56% 62%;
    --c-theme-teal: 189 100% 68%;
    --c-theme-cyan: 197 100% 72%;
    --c-theme-indigo: 241 100% 72%;
    --c-theme-brown: 34 34% 56%;
  }
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
  font-size: 18px;
  line-height: 1.5;
  background: var(--c-bg);
  color: var(--c-text);
  /* this comes in normalize
  font-family: 
    ui-sans-serif, 
    system-ui, 
    -system-ui, 
    -apple-system,
    BlinkMacSystemFont,
    Roboto, Helvetica, Arial, 
    sans-serif, 
    "Apple Color Emoji"; */
}

/* ==========================================================================
   Links
   ========================================================================== */

a {
  text-decoration: none;
  color: var(--c-theme);
}

a:hover {
  text-decoration: underline;
  filter: brightness(115%) saturate(1.15);
}

a:active {
  filter: brightness(50%);
}

footer a,
.copy a {
  text-decoration: underline;
}

/* Styles for footnotes */
.copy a[href^="#fn"] {
  text-decoration: none;
}
.copy a[href^="#fnref"] {
  font-family: sans-serif; /* keep the backlink from displaying as an emoji */
}
.footnotes {
  font-size: 0.91rem;
}

/* ==========================================================================
   Images & Video
   ========================================================================== */

img,
video {
  max-width: 100%;
  height: auto;
}

/* ==========================================================================
   Typography
   ========================================================================== */

h1,
h2,
h3,
h4 {
  line-height: 1.1;
  margin-top: 1rem;
  margin-bottom: 0.66666666em;

  /* Long headlines that are 1 word
     https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
}

h1 {
  font-size: 1.5rem; /* 24px */
  font-weight: 700;
}

h2 {
  font-size: 1.25rem; /* 20px */
  font-weight: 700;
}

h3 {
  font-size: 1.5rem; /* 36px */
  font-weight: 700;
}

h4 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  font-weight: 700;
}

/* ==========================================================================
   Misc. Elements
   ========================================================================== */

blockquote {
  border-left: 1px solid;
  padding-left: 1em;
  margin-left: 0;
  font-style: italic;
}

blockquote em,
blockquote code {
  font-style: normal;
}

pre {
  max-width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  margin-top: 1.618rem;
  margin-bottom: 1.618rem;
  font-size: 0.9rem;
}

hr {
  border: 0;
  border-bottom: 1px solid;
  width: 80%;
  max-width: 400px !important;
  margin: 1.618rem 0;
}

/* ==========================================================================
   Tables
   ========================================================================== */
table {
  max-width: none;
  display: block;
  overflow: auto;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.85em;
}

table th {
  text-align: left;
}

table thead {
  border-top: 1px solid;
  border-bottom: 1px solid;
}
table tbody {
  border-bottom: 1px solid;
}

table tbody tr:nth-child(2n + 1) {
  background-color: var(--c-bg-sidebar);
}

table th,
table td {
  padding: 0.325em 1em;
}
