/* work with text colors more, right blacks etc */

body {
  line-height: 1.618;
}

.e-content > *:not(.image-container),
.wrapper {
  max-width: 36rem;
  margin-left: auto;
  margin-right: auto;
}

.image-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  border-left: none;
  padding-left: 1.618rem;
}

pre {
  padding: 2rem 3rem;
  background: rgba(0, 0, 0, 0.0333);
  border-radius: 10px;
  max-width: 42rem !important;
}
@media screen and (prefers-color-scheme: dark) {
  pre {
    background: rgba(255, 255, 255, 0.0333);
  }
}

/* =============================================================================
   Primary Site Navigation
   ========================================================================== */

/* When there's no JS */
site-nav {
  display: flex;
  align-items: center;
  gap: calc(1.618rem / 4);
  max-width: 42rem;
  margin: calc(1.618rem * 1.5) auto calc(1.618rem * 3);
  justify-content: space-between;
}

site-nav a[href="/"] {
  margin-right: calc(1.618rem / 2);
  font-weight: 700;
}

site-nav[has-js] {
  align-items: flex-start;
  justify-content: space-between;
}

site-nav {
}

site-nav nav {
  display: flex;
  align-items: center;
  gap: calc(1.618rem / 4);
}

site-nav > * {
  width: 33%;
  display: flex;
}

site-nav header {
  order: 1;
}
site-nav nav {
  order: 3;
  justify-content: flex-end;
}
site-nav form {
  order: 2;
  justify-content: center;
}

/* Form color pcker
   ========================================================================== */

site-nav form {
  display: flex;
  align-items: center;
  gap: calc(1.618rem / 3);
}

site-nav form input {
  display: none;
}

site-nav form label {
  width: 24px;
  height: 24px;
  border: 3px solid var(--c-fg);
  display: block;
  text-indent: -9999px;
  border-radius: 50%;
}

site-nav form input:checked + label {
  box-shadow: 0 0 0 2px var(--c-theme);
}

@media screen and (min-width: 600px) {
  site-nav form {
    gap: calc(1.618rem / 4);
  }
  site-nav form label {
    width: 21px;
    height: 21px;
    border-width: 2px;
  }
}

/* =============================================================================
   Article Header
   ========================================================================== */

article header {
  display: flex;
  flex-direction: column;
}

article header h1 {
  margin: calc(1.618rem / 4) 0 calc(1.618rem / 4);
  order: 2;
}

article header time {
  order: 1;
  opacity: 0.5;
  display: block;
}

/* =============================================================================
   Copy
   ========================================================================== */

.copy > *:not(table):not(pre) {
  max-width: 32rem;
  display: block;
}
.copy > p code {
  word-wrap: break-word;
}
.copy .image-container {
  max-width: 1200px;
}
.copy .image-container span {
  font-size: 0.75rem;
  font-style: italic;
  opacity: 0.5;
  max-width: 32rem;
  display: block;
}

/* =============================================================================
   General
   ========================================================================== */

/**
 * Posts Lists - @TODO consider changing to something representing that it's 
 * a flat key/val list
 */
.posts-list {
  list-style: none;
  padding: 0;
  margin: 0 0 1.618rem 0;
}

.posts-list li {
  margin-bottom: calc(1.618rem / 2);
}

.posts-list li a {
  display: block;
}

.posts-list time {
  font-variant-numeric: tabular-nums;
  font-size: 0.7rem;
  opacity: 0.5; /* @TODO change to gray */
  white-space: nowrap;
}

.posts-list small {
  padding: 0 0.5em;
  font-size: 0.6em;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-left: 0.5em;

  opacity: 0.5; /* @TODO gray? matches <time> */

  white-space: nowrap;
}

@media screen and (min-width: 520px) {
  .posts-list li {
    margin-bottom: calc(1.618rem / 4);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: calc(1.618rem / 4);
  }
  .posts-list li a {
    order: 1;
    flex-grow: 1;
  }
  .posts-list time {
    order: 3;
  }
  .posts-list small {
    order: 2;
  }
}

/* =============================================================================
   <BlogPostsStatus>
   ========================================================================== */

#bps {
  border-radius: var(--border-radius);
  display: flex;
  align-items: flex-start;
  font-size: 0.7777rem;
  max-width: 50em;
}
#bps[open] {
  background: var(--c-fg);
}

#bps summary,
#bps > div {
  position: relative;
  padding: 10px 15px;
}

#bps[open] summary:after {
  content: "";
  width: calc(100% - 30px);
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 15px;
  background: var(--color-border);
}

#bps > div {
  text-align: center;
  color: var(--color-text-light);
}

/* =============================================================================
   SVG Icons
   ========================================================================== */

.icon {
  width: 24px;
  height: 24px;
}

/* =============================================================================
   Other
   ========================================================================== */

@media screen and (min-width: 50rem) {
  .list-2col {
    column-count: 2;
    max-width: 40rem;
  }
}

footer {
  margin-bottom: calc(1.618rem * 2);
}
