/* =============================================================================
   Variables
   ========================================================================== */

:root {
  --border-radius: 4px;
  --s-4: calc(4rem / 18);
  --s-8: calc(8rem / 18);
  --s-12: calc(12rem / 18);
  --s-16: calc(16rem / 18);
  --s-24: calc(24rem / 18);
  --s-32: calc(32rem / 18);
  --s-40: calc(40rem / 18);
  --s-48: calc(48rem / 18);
  --s-64: calc(64rem / 18);
  --s-80: calc(80rem / 18);
  --s-96: calc(96rem / 18);
  --max-width: 32rem;

  /* Theme color that gets set by default but is configurable by the user */
  --c-theme-h: var(--c-blue-h);
  --c-theme-s: var(--c-blue-s);
  --c-theme-l: var(--c-blue-l);
  --c-theme: hsl(var(--c-theme-h) var(--c-theme-s) var(--c-theme-l));

  --c-bg: hsl(var(--c-theme-h) var(--c-theme-s) 99%);
  --c-fg: hsl(var(--c-theme-h) var(--c-theme-s) 96%);
  --c-bg-opaque: hsl(
    var(--c-theme-h) calc(var(--c-theme-s) - 10%) var(--c-theme-l) / 0.05
  );
  --c-text: hsl(var(--c-theme-h) var(--c-theme-s) 8%);
  --c-text-light: hsl(var(--c-theme-h) var(--c-theme-s) 8% / 50%);

  /* 
   * https://developer.apple.com/design/human-interface-guidelines/macos/visual-design/color/
   * accessible
   */
  --c-blue-h: 223;
  --c-blue-s: 100%;
  --c-blue-l: 43%;
  --c-red-h: 354;
  --c-red-s: 100%;
  --c-red-l: 42%;
  --c-green-h: 135;
  --c-green-s: 59%;
  --c-green-l: 34%;
  --c-yellow-h: 27;
  --c-yellow-s: 100%;
  --c-yellow-l: 35%;
  --c-purple-h: 280;
  --c-purple-s: 43%;
  --c-purple-l: 47%;
  --c-pink-h: 343;
  --c-pink-s: 87%;
  --c-pink-l: 44%;

  /* not supported yet */
  --c-orange-h: 16;
  --c-orange-s: 100%;
  --c-orange-l: 39%;
  --c-theme-mint: 177 83% 28%;
  --c-theme-teal: 189 100% 30%;
  --c-theme-cyan: 199 100% 32%;
  --c-theme-indigo: 241 52% 42%;
  --c-theme-brown: 33 30% 38%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-bg: hsl(var(--c-theme-h) calc(var(--c-theme-s) - 20%) 2%);
    --c-fg: hsl(var(--c-theme-h) calc(var(--c-theme-s) - 80%) 16%);
    --c-text: hsl(var(--c-theme-h) var(--c-theme-s) 98%);
    --c-text-light: hsl(var(--c-theme-h) var(--c-theme-s) 98% / 50%);
    --c-bg-opaque: hsl(
      var(--c-theme-h) calc(var(--c-theme-s) - 10%) var(--c-theme-l) / 0.075
    );

    --c-blue-h: 211;
    --c-blue-s: 100%;
    --c-blue-l: 63%;
    --c-red-h: 3;
    --c-red-s: 100%;
    --c-red-l: 69%;
    --c-green-h: 135;
    --c-green-s: 70%;
    --c-green-l: 52%;
    --c-yellow-h: 48;
    --c-yellow-s: 100%;
    --c-yellow-l: 57%;
    --c-purple-h: 280;
    --c-purple-s: 100%;
    --c-purple-l: 78%;
    --c-pink-h: 348;
    --c-pink-s: 100%;
    --c-pink-l: 70%;

    /* not supported yet */
    --c-orange-h: 36;
    --c-orange-s: 100%;
    --c-orange-l: 63%;
    --c-theme-mint: 177 56% 62%;
    --c-theme-teal: 189 100% 68%;
    --c-theme-cyan: 197 100% 72%;
    --c-theme-indigo: 241 100% 72%;
    --c-theme-brown: 34 34% 56%;
  }
}

/* =============================================================================
   Base styles
   ========================================================================== */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
  font-size: 18px;
  line-height: 1.6;
  background: var(--c-bg);
  color: var(--c-text);
}

/* Links
   ========================================================================== */

a {
  text-decoration: none;
  color: var(--c-theme);
}

a:hover {
  text-decoration: underline;
  filter: brightness(115%) saturate(1.15);
}

a:has(img):hover {
  filter: none;
}

a:active {
  filter: brightness(50%);
}

a[href=""] {
  cursor: not-allowed;
}

/* Images & Video
   ========================================================================== */

img,
video {
  max-width: 100%;
  height: auto;
}

/* Typography
   ========================================================================== */

h1,
h2,
h3,
h4 {
  position: relative;
  line-height: 1.2;

  /* Long headlines that are 1 word
     https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
}
h1:before,
h2:before,
h3:before,
h4:before {
  position: absolute;
  right: calc(100% + var(--s-8));
  opacity: 0.25;
  font-weight: 400;
  display: none;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
}
h1::before {
  content: "h1";
}

h2 {
  font-size: 1.333rem;
  font-weight: 700;
}
h2::before {
  content: "h2";
}

h3 {
  font-size: 1.15rem;
  font-weight: 700;
}
h3::before {
  content: "h3";
}

h4 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  font-weight: 500;
}
h4::before {
  content: "h4";
}

/* Misc. Elements
   ========================================================================== */

blockquote {
  padding-left: 1rem;
  margin-left: 0;
  font-style: italic;
  border-left: 2px solid var(--c-bg-opaque);
}

blockquote em,
blockquote code {
  font-style: normal;
}

pre {
  font-size: 0.88888rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: var(--c-bg-opaque);
}

hr {
  border: 0;
  border-bottom: 1px solid;
  margin: var(--s-32) 0;
  opacity: 0.125;
}

/* Tables
   ========================================================================== */

table {
  max-width: none;
  display: block;
  overflow: auto;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.88888888em;
}

table th {
  text-align: left;
}

table thead {
  /* border-top: 1px solid; */
  /* border-bottom: 1px solid; */
}
table tbody {
  /* border-bottom: 1px solid; */
}

table tbody tr:nth-child(2n + 1) {
  background-color: var(--c-fg);
}

table th,
table td {
  padding: 0.325em 1em;
}

/* =============================================================================
   Layout
   ========================================================================== */

.copy > *:not(:is(.image-container, p:has(img))):not(pre),
.wrapper {
  max-width: var(--max-width);
  margin-left: var(--s-16);
  margin-right: var(--s-16);
}

@media screen and (min-width: 42rem) {
  .copy > *:not(:is(.image-container, p:has(img))):not(pre),
  .wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}

pre {
  /* 32rem + 1.5rem on either side = 38rem */
  max-width: calc(var(--max-width) + 3rem);
  margin-left: auto;
  margin-right: auto;
  padding: calc(1.618rem / 2);
  border-radius: 0px;
}

@media screen and (min-width: 42rem) {
  pre {
    padding: 1.5rem;
    border-radius: var(--border-radius);
  }
}

/* =============================================================================
   Copy
   ========================================================================== */

.copy > p code,
.copy > ul code {
  word-wrap: break-word;
  word-break: keep-all;
  background-color: var(--c-bg-opaque);
  padding: calc(1.618rem / 12) calc(1.618rem / 6);
  border-radius: 10px;
}

.copy .image-container,
.copy p:has(img) {
  max-width: 46rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.copy .image-container span,
.copy p:has(img) span {
  font-size: 0.75rem;
  font-style: italic;
  opacity: 0.5;
  max-width: var(--max-width);
  display: block;
}

.copy > h2 {
  margin-top: var(--s-48);
}

/* Article Header
   ========================================================================== */

article header {
  display: flex;
  flex-direction: column;
  margin: var(--s-80) 0;
}

article header h1 {
  margin: 0;
  /* font-size: 1.111rem; */
}

article header time {
  opacity: 0.5;
  display: block;
  font-size: 0.8888rem; /* 16 */
}

/* Links
   ========================================================================== */

footer ol a,
.copy a,
footer p a {
  text-decoration: underline;
}

.copy a[href^="#fn"] {
  text-decoration: none;
}
.copy a[href^="#fnref"] {
  font-family: sans-serif; /* keep the backlink from displaying as an emoji */
}
footer {
  font-size: 0.888888888rem;
  margin: calc(var(--s-96)) 0 var(--s-24);
  color: var(--c-text-light);
}
footer a[href^="#fn"] {
  text-decoration: none;
}
footer hr {
  display: none;
  /* margin-bottom: var(--s-48); */
}
footer p {
  margin: 0;
  font-size: 0.7777778rem;
}
footer ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  margin-bottom: var(--s-96);
}
footer ol li {
  padding: var(--s-4) 0;
}

/* =============================================================================
   General
   ========================================================================== */

/**
 * Posts Lists - @TODO consider changing to something representing that it's 
 * a flat key/val list
 */
.posts-list {
  list-style: none;
  padding: 0;
  margin: 0 0 1.618rem 0;
}

.posts-list li {
  margin-bottom: calc(1.618rem / 2);
  display: flex;
  flex-direction: column;
}

.posts-list small {
  opacity: 0.5;
  font-size: 0.7rem;
  white-space: nowrap;
}
.posts-list small a {
  color: inherit;
}

.posts-list time {
  font-variant-numeric: tabular-nums;
  white-space: nowrap;
}

@media screen and (min-width: 520px) {
  .posts-list li {
    margin-bottom: calc(1.618rem / 4);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: calc(1.618rem / 2);
    flex-direction: row;
  }
  .posts-list li > a {
    flex-grow: 1;
  }
}

/* =============================================================================
   Other
   ========================================================================== */

@media screen and (min-width: 50rem) {
  .list-2col {
    column-count: 2;
    max-width: 40rem;
  }
}

/* =============================================================================
   Primary Site Navigation
   ========================================================================== */

site-nav {
  max-width: var(--max-width);
  display: flex;
  gap: calc(1.618rem / 4);
  margin-left: calc(1.618rem / 2);
  margin-right: calc(1.618rem / 2);
}

site-nav nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

site-nav nav span {
  color: var(--c-text-light);
}
site-nav nav > :first-child {
  font-weight: 500;
}
site-nav nav > :not(:last-child):after {
  content: "/";
  font-weight: 100;
  margin: 0 0.5rem;
  text-decoration: none;
  display: inline-block;
  color: var(--c-text-light);
  opacity: 0.5;
}

.highlight {
  padding: calc(1.618rem / 9) calc(1.618rem / 3);
  border-radius: 0 20px 0;
  color: var(--c-bg);
  position: relative;
  margin-left: calc(-1.618rem / 2);
  display: inline-flex;
  align-items: center;
  font-weight: 700;
}
.highlight:before {
  width: 100%;
  height: 100%;
  content: "";
  background: var(--c-theme);
  position: absolute;
  left: 0;
  z-index: -1;
  transform: skew(-20deg) rotate(-0.5deg);
}

@media screen and (max-width: 42rem) {
  site-nav {
    flex-direction: column;
    margin-top: calc(1.618rem * 1);
    margin-bottom: calc(1.618rem * 2);
  }
  site-nav nav > :first-child:after {
    display: none;
  }
  site-nav nav > :first-child {
    flex-basis: 100%;
  }
}

@media screen and (min-width: 42rem) {
  site-nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: calc(1.618rem * 1.5);
    margin-bottom: calc(1.618rem * 3);
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
}

/* Form color picker
     ========================================================================== */

site-nav form {
  display: flex;
  align-items: center;
}

site-nav form input {
  display: none;
}

site-nav form label {
  width: 24px;
  height: 24px;
  border: 2px solid var(--c-bg);
  display: block;
  text-indent: -9999px;
  border-radius: 50%;
  display: none;
}

site-nav form input:checked + label {
  order: 1;
  box-shadow: 0 0 0 1.5px var(--c-theme);
  display: inline;
}

site-nav form.is-expanded label {
  display: inline;
}

@media screen and (max-width: 42rem) {
  site-nav {
    position: relative;
  }
  site-nav form {
    position: absolute;
    right: 0;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    padding: 0 calc(1.618rem / 2);
    background: var(--c-bg);
    height: 100%;
  }
  site-nav form.is-expanded {
    width: 100%;
  }
}

@media screen and (min-width: 42rem) {
  site-nav form {
    gap: calc(1.618rem / 2);
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0.25rem;
    padding-left: 2rem;
    background-color: var(--c-bg);
  }
  site-nav form label {
    width: 21px;
    height: 21px;
    border-width: 2px;
  }
}
