/* =============================================================================
   View transitions
   ========================================================================== */

@view-transition {
  navigation: auto;
}

/* =============================================================================
   Appearance
   ========================================================================== */

:root,
:root[data-theme-appearance="light"] {
  --LIGHT: initial;
  --DARK: ;
  color-scheme: light;
}
:root[data-theme-appearance="dark"] {
  --LIGHT: ;
  --DARK: initial;
  color-scheme: dark;
}
@media (prefers-color-scheme: dark) {
  :root {
    --LIGHT: ;
    --DARK: initial;
    color-scheme: dark;
  }
}

:root {
  /* Theme color that gets set by default but is configurable by the user */
  --c-theme-h: var(--c-blue-h);
  --c-theme-s: var(--c-blue-s);
  --c-theme-l: var(--c-blue-l);
  --c-theme: hsl(var(--c-theme-h) var(--c-theme-s) var(--c-theme-l));

  /* Theme colors */
  --c-bg: light-dark(
    hsl(var(--c-theme-h) var(--c-theme-s) 99%),
    hsl(var(--c-theme-h) calc(var(--c-theme-s) - 20%) 2%)
  );
  --c-bg-1: light-dark(
    hsl(var(--c-theme-h) var(--c-theme-s) 100%),
    hsl(var(--c-theme-h) calc(var(--c-theme-s) - 60%) 5%)
  );
  --c-fg: light-dark(
    hsl(var(--c-theme-h) var(--c-theme-s) 96%),
    hsl(var(--c-theme-h) calc(var(--c-theme-s) - 80%) 16%)
  );
  --c-bg-opaque: light-dark(
    hsl(var(--c-theme-h) calc(var(--c-theme-s) - 10%) var(--c-theme-l) / 0.05),
    hsl(var(--c-theme-h) calc(var(--c-theme-s) - 10%) var(--c-theme-l) / 0.075)
  );
  --c-text: light-dark(
    hsl(var(--c-theme-h) var(--c-theme-s) 8%),
    hsl(var(--c-theme-h) var(--c-theme-s) 98%)
  );
  --c-text-light: light-dark(
    hsl(var(--c-theme-h) var(--c-theme-s) 8% / 50%),
    hsl(var(--c-theme-h) var(--c-theme-s) 98% / 50%)
  );

  /* 
   * Base colors
   * https://developer.apple.com/design/human-interface-guidelines/macos/visual-design/color/
   * accessible
   */
  --c-blue-h: var(--LIGHT, 223) var(--DARK, 211);
  --c-blue-s: var(--LIGHT, 100%) var(--DARK, 100%);
  --c-blue-l: var(--LIGHT, 43%) var(--DARK, 63%);
  --c-red-h: var(--LIGHT, 354) var(--DARK, 3);
  --c-red-s: var(--LIGHT, 100%) var(--DARK, 100%);
  --c-red-l: var(--LIGHT, 42%) var(--DARK, 69%);
  --c-green-h: var(--LIGHT, 135) var(--DARK, 135);
  --c-green-s: var(--LIGHT, 59%) var(--DARK, 70%);
  --c-green-l: var(--LIGHT, 34%) var(--DARK, 52%);
  --c-yellow-h: var(--LIGHT, 27) var(--DARK, 48);
  --c-yellow-s: var(--LIGHT, 100%) var(--DARK, 100%);
  --c-yellow-l: var(--LIGHT, 35%) var(--DARK, 57%);
  --c-purple-h: var(--LIGHT, 280) var(--DARK, 280);
  --c-purple-s: var(--LIGHT, 43%) var(--DARK, 100%);
  --c-purple-l: var(--LIGHT, 47%) var(--DARK, 78%);
  --c-pink-h: var(--LIGHT, 343) var(--DARK, 348);
  --c-pink-s: var(--LIGHT, 87%) var(--DARK, 100%);
  --c-pink-l: var(--LIGHT, 44%) var(--DARK, 70%);

  /* not supported yet */
  --c-orange-h: light-dark(16, 36);
  --c-orange-s: light-dark(100%, 100%);
  --c-orange-l: light-dark(39%, 63%);
  --c-theme-mint: light-dark(177 83% 28%);
  --c-theme-teal: light-dark(189 100% 30%);
  --c-theme-cyan: light-dark(199 100% 32%);
  --c-theme-indigo: light-dark(241 52% 42%);
  --c-theme-brown: light-dark(33 30% 38%);
}

/* =============================================================================
   Other non-appearance variables
   ========================================================================== */

:root {
  --border-radius: 4px;
  --s-4: calc(4rem / 18);
  --s-6: calc(6rem / 18);
  --s-8: calc(8rem / 18);
  --s-12: calc(12rem / 18);
  --s-16: calc(16rem / 18);
  --s-24: calc(24rem / 18);
  --s-32: calc(32rem / 18);
  --s-40: calc(40rem / 18);
  --s-48: calc(48rem / 18);
  --s-64: calc(64rem / 18);
  --s-80: calc(80rem / 18);
  --s-96: calc(96rem / 18);
  --max-width: 32rem;
  --max-width-padding: 6rem;
  --max-width-outer: calc(var(--max-width) + (var(--max-width-padding) * 2));
}

/* =============================================================================
   Base styles
   ========================================================================== */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
  font-size: 1.125rem;
  line-height: 1.5;
  background: var(--c-bg);
  color: var(--c-text);
}

:focus-visible {
  outline: 2px solid var(--c-theme);
  box-shadow: 0 0 0 2px
    hsl(var(--c-theme-h) var(--c-theme-s) var(--c-theme-l) / 0.15);
}

[hidden] {
  display: none !important;
}

/* Links
   ========================================================================== */

a {
  text-decoration: none;
  color: var(--c-theme);
}

a:hover {
  text-decoration: underline;
  filter: brightness(115%) saturate(1.15);
}

a:has(img):hover {
  filter: none;
}

a:active {
  filter: brightness(50%);
}

a[href=""] {
  cursor: not-allowed;
}

/* Images & Video
   ========================================================================== */

img,
video {
  max-width: 100%;
  height: auto;
}

/* Typography
   ========================================================================== */

h1,
h2,
h3,
h4 {
  position: relative;
  line-height: 1.2;

  /* Long headlines that are 1 word
     https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
}
h1:before,
h2:before,
h3:before,
h4:before {
  position: absolute;
  right: calc(100% + var(--s-8));
  opacity: 0.25;
  font-weight: 400;
  display: none;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
}
h1::before {
  content: "h1";
}

h2 {
  font-size: 1.333rem;
  font-weight: 700;
}
h2::before {
  content: "h2";
}

h3 {
  font-size: 1.15rem;
  font-weight: 700;
}
h3::before {
  content: "h3";
}

h4 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  font-weight: 500;
}
h4::before {
  content: "h4";
}

/* Misc. Elements
   ========================================================================== */

blockquote {
  padding-left: 1rem;
  margin-left: 0;
  font-style: italic;
  border-left: 2px solid var(--c-bg-opaque);
}

blockquote em,
blockquote code {
  font-style: normal;
}

pre {
  font-size: 0.88888rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

hr {
  border: 0;
  border-bottom: 1px solid;
  margin: var(--s-32) 0;
  opacity: 0.125;
}

/* Tables
   ========================================================================== */

table {
  max-width: none;
  display: block;
  overflow: auto;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.88888888em;
}

table th {
  text-align: left;
}

table thead {
  /* border-top: 1px solid; */
  /* border-bottom: 1px solid; */
}
table tbody {
  /* border-bottom: 1px solid; */
}

table tbody tr:nth-child(2n + 1) {
  background-color: var(--c-fg);
}

table th,
table td {
  padding: 0.325em 1em;
}

/* =============================================================================
   Layout
   ========================================================================== */

pre {
  /* 32rem + 1.5rem on either side = 38rem */
  max-width: calc(var(--max-width) + 3rem);
  margin-left: auto;
  margin-right: auto;
  padding: calc(1.618rem / 2);
  border: 1px solid var(--c-bg-opaque);
}

@media screen and (min-width: 42rem) {
  pre {
    margin-left: calc(var(--s-24) * -1);
    margin-right: calc(var(--s-24) * -1);
    padding: var(--s-24);
    border-radius: var(--border-radius);
  }
}

/* =============================================================================
   Copy
   ========================================================================== */

.copy code:not(pre code) {
  word-wrap: break-word;
  word-break: keep-all;
  font-size: 0.9rem;
}
.copy code:not(pre code):before,
.copy code:not(pre code):after {
  content: "`";
}

.copy .image-container,
.copy p:has(img) {
  max-width: 46rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.copy .image-container span,
.copy p:has(img) span {
  font-size: 0.75rem;
  font-style: italic;
  opacity: 0.5;
  max-width: var(--max-width);
  display: block;
}

.copy > h2 {
  margin-top: var(--s-48);
}

/* Article Header
   ========================================================================== */

article header {
  display: flex;
  flex-direction: column;
  margin: 0 0 var(--s-40) 0;
  gap: var(--s-4);
}

article header h1 {
  margin: 0;
}

article header a {
  color: inherit;
  text-decoration: none;
}
article header a:hover {
  color: var(--c-theme);
  text-decoration: underline;
}

article header ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--c-text-light);
  font-size: 0.8888rem; /* 16 */
  flex-wrap: wrap;
}
article header li {
  display: flex;
  align-items: center;
}

article header li:has(+ li):after {
  content: "·";
  margin-left: var(--s-8);
  margin-right: var(--s-8);
}

/* Links
   ========================================================================== */

footer ol a,
.copy a,
footer p a {
  text-decoration: underline;
}

.copy a[href^="#fn"] {
  text-decoration: none;
}
.copy a[href^="#fnref"] {
  font-family: sans-serif; /* keep the backlink from displaying as an emoji */
}
footer {
  font-size: 0.888888888rem;
  padding: calc(var(--s-96)) 0 var(--s-24);
  color: var(--c-text-light);
}
footer a {
  color: inherit;
}
footer a:hover {
  color: var(--c-theme);
}
footer a[href^="#fn"] {
  text-decoration: none;
}
footer hr {
  display: none;
  /* margin-bottom: var(--s-48); */
}
footer p {
  margin: 0;
  font-size: 0.7777778rem;
}
footer ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  margin-bottom: var(--s-96);
}
footer ol li {
  padding: var(--s-4) 0;
}

/* =============================================================================
   General
   ========================================================================== */

/**
 * Posts Lists - @TODO consider changing to something representing that it's 
 * a flat key/val list
 */
.posts-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.posts-list li:not(:last-child) {
  border-bottom: 1px solid var(--c-bg-opaque);
}

.posts-list li a {
  display: flex;
  flex-direction: column;
  padding: var(--s-12) 0px;
  text-decoration: none;
}

.posts-list li a:hover span:first-child {
  text-decoration: underline;
}

.posts-list span:last-child {
  color: var(--c-text-light);
  font-size: 0.7rem;
  white-space: nowrap;
  text-decoration: none;
}

.posts-list time {
  font-variant-numeric: tabular-nums;
  white-space: nowrap;
}

@media screen and (min-width: 520px) {
  .posts-list li {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: calc(1.618rem / 2);
    flex-direction: row;
  }
  .posts-list li > a {
    flex-grow: 1;
  }
}

/* =============================================================================
   Other
   ========================================================================== */

@media screen and (min-width: 50rem) {
  .list-2col {
    column-count: 2;
    max-width: 40rem;
  }
}

/* =============================================================================
   Primary Site Navigation
   ========================================================================== */

theme-picker {
  margin-top: var(--s-24);
}
theme-picker details {
  width: 100%;
  border: 1px solid var(--c-bg-opaque);
  padding: var(--s-8) var(--s-12);
  border-radius: var(--border-radius);
  margin-left: calc(var(--s-12) * -1);
  margin-right: calc(var(--s-12) * -1);
}
theme-picker details summary {
  color: var(--c-text-light);
  cursor: default;
  list-style: none;
}
theme-picker details[open] summary {
  color: var(--c-text);
}
theme-picker details summary::marker,
theme-picker details summary::-webkit-details-marker {
  display: none;
}

theme-picker form {
  flex-direction: column;

  display: flex;
  margin-top: var(--s-12);
}
theme-picker details[open] form {
  display: flex;
}

theme-picker fieldset {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--s-4);
  margin: 0;
  padding: 0;
  border: none;
  align-items: center;
}

theme-picker fieldset > div {
  display: flex;
  flex-direction: row;
  gap: var(--s-4);
}

theme-picker input {
  display: none;
}

theme-picker label {
  display: flex;
  padding: 6px;
  border-radius: 50px;
  position: relative;
}
theme-picker label span {
  text-indent: -9999px;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  position: relative;
}

theme-picker input:checked + label {
  box-shadow: 0 0 0 1px var(--c-theme);
}

/* theme-picker :not(input:checked) + label:hover {
  box-shadow: 0 0 0 2px var(--c-bg), 0 0 0 3px var(--c-bg-opaque);
} */

theme-picker input:checked + label:before {
  content: "";
  display: block;
  display: none;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid var(--c-theme);
  position: absolute;
  bottom: -10px;
  left: 3px;
}
theme-picker input:checked + label {
  box-shadow: 0 0 0 1px var(--c-bg-opaque);
}
theme-picker input:checked + label {
  box-shadow: 0 0 0 1px var(--c-theme);
}

@media (hover: hover) {
  theme-picker label {
    opacity: 0.05;
    filter: grayscale(1) brightness(0);
  }
  theme-picker:hover label,
  theme-picker input:checked + label {
    opacity: 1;
    filter: grayscale(0);
  }
}

label[for^="appearance-"] span {
  /* content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid var(--c-text-light);
  border-radius: 50%; */
  border: 1px solid var(--c-text);
}
label[for="appearance-light"] span {
  background-color: white;
}
label[for="appearance-dark"] span {
  background-color: #000;
}
label[for="appearance-system"] span {
  background-color: white;
}
label[for="appearance-system"] span:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 50%;
  height: 100%;
  background-color: #111;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  /* transform: rotate(45deg);
  transform-origin: left; */
}

.navv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--s-16);
  margin-top: var(--s-32);
  margin-bottom: var(--s-32);
  position: relative;
  padding-right: var(--s-40);
  font-size: 0.888888888rem;
}

@media screen and (min-width: 32rem) {
  .navv {
    position: fixed;
    top: 0;
    width: 240px;
    left: calc(50% - var(--max-width));
    flex-direction: column;
    padding-right: var(--s-16);
    flex-direction: column;
    margin-top: 0;
    padding-top: var(--s-32);
    border-right: 1px solid var(--c-bg-opaque);
    height: 100%;
    /* margin-right: 44px; */
    justify-content: flex-start;
  }
  .navv a[href="/menu/"] {
    display: none;
  }
}
@media screen and (max-width: 32rem) {
  .navv a:not([href="/menu/"]) {
    display: none;
  }
}

.navv a {
  position: relative;
  display: flex;
  align-items: center;
}

.navv a[aria-current="page"] {
  color: var(--c-text-light);
  pointer-events: none;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.02rem;
  margin: 0 0 var(--s-16) 0;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.tag {
  padding: 2px 6px;
  border-radius: 50px;
  font-size: 0.875rem;
  background: var(--c-fg);
}

:root {
  /* pagefind */
  --pagefind-ui-scale: 1 !important;
  --pagefind-ui-primary: var(--c-theme) !important;
  --pagefind-ui-text: var(--c-text) !important;
  --pagefind-ui-background: var(--c-bg) !important;
  --pagefind-ui-border: var(--c-bg-opaque) !important;
  --pagefind-ui-tag: var(--c-bg-opaque) !important;
  --pagefind-ui-border-width: 2px;
  --pagefind-ui-border-radius: 8px;
  --pagefind-ui-image-border-radius: 8px;
  --pagefind-ui-image-box-ratio: 3 / 2;
  --pagefind-ui-font: inherit;
}
.pagefind-ui__message {
  font-weight: 400 !important;
  color: var(--c-text-light) !important;
  padding-top: 0 !important;
}
.pagefind-ui__result {
  padding: calc(12px * var(--pagefind-ui-scale)) 0
    calc(16px * var(--pagefind-ui-scale)) !important;
}
.pagefind-ui__result-title {
  line-height: 1.3 !important;
  font-size: 1rem !important;
}
.pagefind-ui__result-excerpt {
  color: var(--c-text-light) !important;
  font-size: 0.888rem !important;
}
.pagefind-ui__result-title,
.pagefind-ui__result-link {
  font-weight: 400 !important;
  color: var(--c-theme) !important;
}

.pagefind-ui mark {
  /* background-color: hsl(
    var(--c-theme-h) var(--c-theme-s) var(--c-theme-l) / 0.25
  ) !important; */
  color: var(--c-text) !important;
  font-weight: 600 !important;
  background-color: transparent !important;
}
.pagefind-ui__result-link:before {
  display: none !important;
}
.pagefind-ui__result-nested .pagefind-ui__result-link {
  font-size: 1rem !important;
}

#js-search-root {
  overflow: hidden;
}
.pagefind-ui__search-input,
.pagefind-ui__search-clear,
.pagefind-ui__form:before {
  display: none !important;
}

.sideba {
  position: absolute;
  top: 0;
  width: 220px;
  right: calc(50% - var(--max-width));
  flex-direction: column;

  flex-direction: column;
  margin-top: 0;
  padding-top: var(--s-32);
  border-left: 1px solid var(--c-bg-opaque);
  height: 100%;
  /* margin-right: 44px; */
  justify-content: flex-start;
}

.l-container {
  margin: 0 auto var(--s-32);
  padding: 0 var(--s-16);
  max-width: 600px;
}
.l-top {
  padding: var(--s-32) 0;
}

@media (min-width: 1024px) {
  .l-container {
    display: grid;
    grid-column-gap: 8%;
    grid-row-gap: 0px;
    grid-template-columns: minmax(0, 1fr) 220px;
    max-width: 960px;
  }
  .l-top {
    grid-area: 1 / 1 / 2 / 3;
  }
  .l-left {
    grid-area: 2 / 1 / 3 / 2;
  }
  .l-right {
    grid-area: 2 / 2 / 3 / 3;
  }
  .l-menu {
    display: none;
  }
}

/**
 * Nav
 */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav a[aria-current="page"] {
  color: var(--c-text-light);
  pointer-events: none;
  cursor: default;
}

.nav a[href="/"] {
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: var(--s-8);
  padding-left: 0;
  position: relative;
}

/* 
.nav a[href="/"] svg {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -1px;
  left: -12px;
}

@media screen and (min-width: 42rem) {
  .nav a[href="/"] {
    padding-left: 0;
  }
  .nav a[href="/"] svg {
    left: -26px;
    top: -1px;
  }
} */

[data-has-search-results] > *:not(output) {
  display: none !important;
}
.navv__search {
  position: relative;
  margin-top: var(--s-16);
  margin-bottom: var(--s-16);
}
.navv__search input {
  width: 100%;
  padding: var(--s-8);
  border-radius: var(--border-radius);
  border: none;
  background: var(--c-bg-opaque);
  color: var(--c-text);
  width: 100%;
  font-size: 0.77777rem;
}
.navv input:placeholder {
  color: var(--c-text-light);
}

.navv__search[data-loading]:after {
  content: " ";
  position: absolute;
  right: -40px;
  top: -1px;
  /* change color here */
  color: var(--c-theme);
  display: block;
  width: 18px;
  height: 18px;
  margin: 8px;
  border-radius: 50%;
  border: 1px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: var(--s-32);
}

.sb {
  font-size: 0.722222rem;
  color: var(--c-text-light);
}
.sb > * {
  font-size: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sb a {
  color: inherit;
}
.sb a:hover {
  color: var(--c-theme);
}
.sb h3 {
  margin-bottom: 2px;
}
.sb ul a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 0;
  text-decoration: none;

  span:first-child {
  }
  span:last-child {
    opacity: 0.7;
  }
  &:hover span:last-child {
    opacity: 1;
  }
}
.sidebar img {
  display: none;
}

.posts-nav {
  display: flex;
  padding: var(--s-16) 0 var(--s-24);
  flex-wrap: wrap;
}

/* Old stuff going out */
::view-transition-old(posts-nav-indicator) {
  animation: fade 0.2s linear forwards;
}

/* New stuff coming in */
::view-transition-new(posts-nav-indicator) {
  animation: fade 0.3s linear reverse;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.posts-nav a {
  padding: var(--s-6) var(--s-12);
  position: relative;
  font-size: 0.888888rem;
}
@media (min-width: 30rem) {
  .posts-nav a {
    padding-left: var(--s-12);
    padding-right: var(--s-12);
  }
}
.posts-nav a[aria-current="page"] {
  border-color: var(--c-text);
  pointer-events: none;
  color: var(--c-text);
}
.posts-nav a:after {
  view-transition-name: posts-nav-indicator;
  content: " ";
  position: absolute;
  left: 0;
  width: 100%;

  bottom: 0;
  height: 100%;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
}
.posts-nav a[aria-current="page"]::after {
  border-color: var(--c-text);

  /* height: 2px;
  bottom: -2px;
  background: var(--c-text); */
}
