
.footer {
    position: relative;
    background: $color-background-light;
    border-top: 1px solid $color-border-light;
    text-align: center;
    font-size: .75em;
    color: $color-text-light;
    padding: 1em;

    a {
        text-decoration: underline;
    }
}