/*
	FOOTNOTES

	Styles for <sub> as found here
	http://www.adobe.com/cfusion/communityengine/index.cfm?event=showdetails&postId=5341&productId=1
*/
sup {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	_vertical-align: bottom;
	position: relative;

	bottom: 1ex;

	a {
		color: $color-highlight;
		font-size: .75em;
		border: 0;

		&:before {
			content: "[";
		}

		&:after {
			content: "]";
		}
	}

}

a[rev="footnote"] {
	border: 0;
    vertical-align: text-bottom;
}

.footnotes {
    // <p> elements inside <li> elements
    p {
        display: inline;
    }
}