/*
    HEADER

    Styles used for the main document header (Jim Nielsen)
*/

.header {
    margin: 80px 0 100px;

    a {
        width: 250px;
        height: 100px;
        margin: 0 auto;
        display: block;

        &:hover {
            .site-logo {
                @include transform(scale(.95) rotate(-4deg));
            }

            .site-title {
                color:$color-highlight
            }
        }
    }
}

.site-logo {
    @include transition(.25s ease all);
    margin: 0 auto;
    width: 200px;
    height: 100px;
    display: block;
}

.site-title {
    @include transition(.25s ease color);
    font-size: 11px;
    position: absolute;
    width: 250px;
    margin-left: -105px;
    left: 50%;
    text-align: center;
    top: 155px;
    font-family: $font-stack-secondary;
    text-transform: uppercase;
    color: #ccc;
}