//
//
//  Mixins
//  ==============================
//  Used by img caption, blog excerpts
//

@mixin secondaryText {
    font-size: .75em;
    font-style: italic;
    line-height: 1.5em;
    color: $color-text-light;
    font-family: $font-stack-secondary;
}

@mixin truncate {
    display: block;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
}