.navigation {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;

    .avatar {
        width: 40px;
        height: 40px;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        @include border-radius(50px);
        @include transition(.4s ease all);
        @include box-shadow(0 0 0 2px rgba(0,0,0,.125));

        &:hover {
            cursor: pointer;
        }
    }

    .navigation-list {
        position: absolute;
        width: 200px;
        right: 0px;
        top: 0;
        background: #111;
        color: #888;
        font-family: $font-stack-secondary;
        font-size: .75em;
        overflow: hidden;
        @include border-radius(2px 20px 2px 2px);
        @include transform-origin(180px, 20px);
        @include transition(.25s ease -webkit-transform);
        @include box-shadow(0 0 0 2px rgba(0,0,0,.125));
        text-indent: 0;

        @media screen and (max-width: $media-query-s) {
            font-size: .85em;
        }

        li:first-child {

            a {
                color: white
            }
        }
        li:last-child {
            background: #333;
        }

        .navigation-item {
            line-height: 40px;
            height: 40px;
            vertical-align: middle;
            padding: .075em 1em 0;
            display: block;
            @include transition(.35s ease all);
            overflow: hidden;


            &:before {
                font-size: 1em;
                margin-right: .5em;
                @include transition(.25s ease -webkit-transform);
            }

            &:hover {
                text-decoration: none;
                color: white;

                &:before {
                    text-decoration: none;
                    @include transform( scale(1.15) rotate(360deg) );
                }
            }
        }
    }
}


.csstransforms {
    .navigation {
        &.hide {
            .navigation-list {
                @include scale(0);

                li:first-child {
                    .navigation-item {@include translateX(200px);}
                }
                li:nth-child(2) {
                    .navigation-item {@include translateX(350px);}
                }
                li:nth-child(3) {
                    .navigation-item {@include translateX(450px);}
                }
                li:nth-child(4) {
                    .navigation-item {@include translateX(600px);}
                }
                li:nth-child(5) {
                    .navigation-item {@include translateX(800px);}
                }
            }

        }
        &.show {
            .navigation-list {
                @include scale(1);
            }
            .avatar {
                @include rotate(-360deg);
            }
        }
    }
}
.no-csstransforms {
    .navigation {
        &.hide {
            .navigation-list {
                display: none;
            }

        }
        &.show {
            .navigation-list {
                display: block;
            }
        }
    }
}