//
//
//  Archive
//  ==============================
//
.post-archive {
    position: relative;
    text-align: center;

    @media screen and (max-width: $media-query-s) {
        margin: .5em 0;
    } 
}

.post-archive__title {
    //@include inline-block;
    //font-size: .75em;
    margin-bottom: .5em;
    font-family: $font-stack-secondary;
    color: $color-highlight;
    background: #fff;
}

.post-archive__list {
    @include clearfix();
    border-top: 1px solid $color-border-lightest;


    // First level years
    > li {
        background: #f7f7f7;

        span {
            font-family: $font-stack-secondary;
            font-size: .825em;
            color: $color-highlight;
        }
        
        // Second level posts
        > ul {
            border-top: 1px solid $color-border-lightest;

            > li {
                background: #fff;
                padding: 0.625em 0;
                border-bottom: 1px solid $color-border-lightest; 
            }
        }
    }

    time {
        font-family: $font-stack-secondary;
        font-size: .625em;
        color: $color-text-lightest;
        letter-spacing: -0.0125em;
        display: block;
        line-height: 1;
    }

    a {
        &:hover {
            text-decoration: underline;
        } 
    }
}