//
//
//  Headings
//  ------------------------------
//  Typographic styles for blog post content
//
.content {

    //
    // Headings
    //
    h2 {
        font-size: $h2;
        max-width: $max-width-h2;

        margin-bottom: 1em;
    }

    h3, h4, h5 {
        font-size: $h3;
        max-width: $max-width-h3;
    }

    //
    //  Shared Heading Styles
    //
    h2, h3, h4, h5 {
        letter-spacing: -.03575em;
        font-family: $font-stack-secondary;
        line-height: 1.5em;
        font-weight: bold;
        margin-top: 2em;
    }

    h1, h2, h3, h4, h5 {
        color: $color-text-dark;
        margin-left: auto;
        margin-right: auto;

        a {
            border: 0;

            &:hover {
                border: 0;
            }
        }
    }

    //
    //  Max-width elements
    //
    h1, h2, h3, h4, h5,
    p, ul, ol, pre, blockquote, pre, hr, > object, > iframe, > div {
        margin-left: auto;
        margin-right: auto;
    }

    p, ul, ol, pre, blockquote, pre, hr, > object, > iframe, > div {
        max-width: $max-width-base;
        margin-bottom: 2em;
        display: block;
    }

    img {
        margin: 0 auto;
        display: block;
        max-width: 100%;
        border-radius: 2px;

        // left align mobile
        @media screen and (max-width: $media-query-s) {
            img {
                margin: 0;
            }
        }
    }

    //
    //  Links
    //
    a {
        color: $color-highlight;
    }

    //
    // Lists
    //
    ul {
        list-style-type: disc;
    }
    ol {
        list-style-type: decimal;
    }
    ul, 
    ol {
        list-style-position: outside;

        @media screen and (max-width: $media-query-s) {
            padding-left: 1em;
        }
    }
    ol ol, 
    ol ol ol,
    ul ul, 
    ul ul ul {
        margin: 0;
        margin-left: 1.5em;
    } 

    // 
    //  Texts
    //
    strong {
        font-weight: 700;
    }
    em {
        font-style: italic;
    }

    //
    //  Blockquotes
    //
    blockquote {
        position: relative;
        color: #555;
        border-left: 3px solid $color-highlight;
        padding-left: 1em;
        max-width: #{$max-width-base - 1};
        //font-style: italic;

        strong,
        em {
            color: $color-text-dark;
        }

        em {
            font-style: normal;
        }
    }

    //
    //  Code
    //
    pre, 
    code {
        font-family: $font-stack-monospace;
    }

    code {
        padding: .2em .325em;
        margin: 0 .325em;
        //background: $color-background-light;
        //border: 1px solid $color-border;
        @include border-radius(.166667em);
        background: lightYellow;
        font-size: .85em;
    }  

    pre {
        
        padding: 1em;
        text-overflow: ellipsis;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        background: lightYellow;
        @include border-radius(.166667em);

        
        code {
            line-height: 1.5em;

            // override inline code styles
            padding: 0;
            margin: 0;
            background: transparent;
            border: none;
            @include border-radius(0);
        }
    }

    //
    //
    //  Images & Captions
    //  
    .image-container {
        @include secondaryText;
        max-width: none;
        text-align: center;
        padding: 1em 0;
    }
}