//
//
//  FONT SIZES
//
$h1 					: 3em;
$h2 					: 1.525em;
$h3 					: 1em;

//
//
//  WIDTHS
//
//  Assumed body font size is 16px.
//  Max-width on body font sizes is 35em
//      (thus resulting in 560px)
//  560px / 16px = 1em
//
//  So the equation for larger font sized max-widths:
//  560 / (16 * font-size) = max-width
//
$max-width-base         : 35em;
$max-width-h1           : 14em;
$max-width-h2           : #{ ($max-width-base * 16) / (16 * $h2)}em;
$max-width-h3           : #{ ($max-width-base * 16) / (16 * $h3)}em;

//
//
//  COLORS
//
$color-text-medium      : #555;
$color-text-dark        : #222;
$color-text-light       : #777;
$color-text-lightest    : #bbb;
$color-highlight        : #c02702;
$color-highlight-light  : #f7f1f0;
$color-border           : #ccc;
$color-border-light     : #eee;
$color-background-light : #fafafa;

//
//
//  FONT STACKS
//  Primary - base font stack used on <body>
//  Secondary - used on headings, secondary text elements like quotes, excerpts
//  Tertiary - used ONLY on the main heading
//
$font-stack-primary     : Palatino, Georgia, serif;
$font-stack-secondary   : Trebuchet MS, Gill sans, lucida grande, lucida sans, verdana, sans-serif;
$font-stack-monospace   : 'Source Code Pro', monospace;
$font-size-base         : 1.3125em;
$font-size-base-px      : 21;


//
//
//  Media Queries
//  ========================================
//  General sizes of media queries
//
$media-query-s          : $max-width-base - 1;
