.feeds {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  gap: var(--s-8);
  flex-wrap: wrap;
}
.feeds a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--s-8);
  background: var(--c-bg-opaque);
  padding: var(--s-6) var(--s-12);
  border-radius: 5px;
  justify-content: center;
}
.feeds a svg {
  width: 20px;
  height: 20px;
}
details summary {
  colorz: var(--c-text-light);
  cursor: default;
}
details[open] summary {
  color: var(--c-text);
}
.embeddable-buttondown-form {
  margin-top: var(--s-64);
  font-size: 0.8888rem;
  color: var(--c-text-light);
}
.embeddable-buttondown-form input[type="email"] {
  width: 300px;
  margin: 0 0 var(--s-8);
  padding: var(--s-8);
  background: var(--c-fg);
  border: 1px solid var(--c-bg-opaque);
  border-radius: 5px;
}
.embeddable-buttondown-form input[type="submit"] {
  appearance: none;
  background: transparent;
  border: none;
  padding: 0;
  color: var(--c-theme);
  border: 1px solid;
  padding: var(--s-4) var(--s-12);
  border-radius: 5px;
  line-height: inherit;
}
.embeddable-buttondown-form a {
  color: inherit;
  text-decoration: underline;
}
