<!DOCTYPE html>
<html id="top">
<head>
  <title>
    {% if page.title %}{{ page.title }} | {% endif %}Jim Nielsen’s Blog
  </title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.baseurl }}/feed.xml">
  <link rel="alternate" type="application/json" title="JSON Feed" href="{{ site.baseurl }}/feed.json">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>
<body>
  <nav class="nav">
    {% include nav.html %}
  </nav>

  <main class="main">    
    {{ content }}
  </main>

  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/js.js"></script>
</body>
</html>
