{% include document-head.html %}

<body>
  {% comment %}
    Theme
    This has to go here or you get a flicker effect when persisting the theme
    across different URLs
  {% endcomment %}
  <script>
    function addThemeClass() {
      document.documentElement.className = '';
      document.documentElement.classList.add('theme-' + localStorage.getItem('theme'));
    }
    addThemeClass();
  </script>

  {% comment %}
    Header
  {% endcomment %}
  {% include header.html %}

  {% comment %}
    Main
  {% endcomment %}
  <main class="main">
    {{ content }}
  </main>

  {% comment %}
    Footer
  {% endcomment %}
  {% include footer.html showCurrentPost="true" %}

  {% comment %}
    Javascript
  {% endcomment %}
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/js.js"></script>

  {% comment %}
    Analytics
  {% endcomment %}
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-19579223-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
