{% include header.html %}

    <section class="articles">

        {{ content }}

    </section>

    <nav class="pagination">
        <ul>
            <li class="prev"><a href="http://scriptogr.am/jimniels/1">Prev</a></li>
            <li><a href="http://scriptogr.am/jimniels/">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="http://scriptogr.am/jimniels/3">3</a></li>
            <li class="next"><a href="http://scriptogr.am/jimniels/3">Next</a></li>
        </ul>
    </nav>

    <footer class="footer">
        <h2 class="footer-title">Recent Articles</h2>
        <ul id="recent-articles">
        </ul>

          <script type="text/javascript">
          html += '<li><time>'+date+'</time><a href="'+entry.link+'" title="'+entry.title+'">'+entry.title+'</a></li>';
          </script>


    </footer>

</body>
</html>

