---
layout: default
---

<article class="markdown markdown-with-prefixed-headings" id="js-post-content">

  <header>
    <time datetime="{{ post.date }}">
      {{ page.date | date: "%B %-d, %Y" }}
    </time>
    <h1>
      <span>{{ page.title }}</span>
    </h1>
  </header>

  {{ content }}

  
  {% if page.tags %}
    <footer class="max-width-wrapper" style="margin-top: calc(1.618rem * 2)">
      Tagged in: 
      {% for tag in page.tags %}
        <a href="{{ site.baseurl }}/tags/#{{ tag }}" class="tag">
          #{{ tag }}
        </a>
        {% if forloop.last != true %}
          ,&nbsp;
        {% endif %}
      {% endfor %}
    </footer>
  {% endif %}
</article>
